<ion-header>
    <ion-navbar class="bkcolor" >
      <ion-grid class="bkcolor">
        <ion-row>
          <ion-col col-1 class="col-1">
            <ion-buttons (click)="homefun17()">
               <button ion-button class="button-inner">
                  <ion-icon name="ios-arrow-round-back-outline" class="backicon" ></ion-icon>
                    </button>
                  </ion-buttons>
              </ion-col>
            <ion-col col-10>
              <div class="center">
               <!-- <div class="div-1"> -->
               <img src="assets/imgs/newlogo2.png" class="imglogo"/>
               <!-- </div> -->
             </div>
           </ion-col>
         </ion-row>
       </ion-grid>
     </ion-navbar>
  </ion-header>
<ion-content padding>
<div class="div1">
<ion-card>
<ion-card-header  class="center">
  <h4 class="h4">Bank Withdrawal</h4>
    </ion-card-header>
  <form (ngSubmit)="BankWithdrawalfun(account,Name,AccNumber,AmountWith,IBAN,swift,ifsc,BankName,BankAdd,ExtraInfo)" #loginForm="ngForm">
<ion-grid>
<ion-row class="center" class="width">
<ion-list class="center">
  <ion-col col-12>
    <ion-list>
  <ion-item>
<ion-label><ion-icon name="list-box"></ion-icon></ion-label>
<ion-select   placeholder="Trading Account number" name="account" [(ngModel)]="account"   required>
  <ion-option *ngFor="let data of datas" value="{{data}}" >Account No:{{data}}</ion-option> 
   </ion-select>
  </ion-item>
</ion-list>
</ion-col>
<ion-col col-12>
<ion-item>
<ion-label> <ion-icon name="cash"></ion-icon></ion-label>
  <ion-input type="number" name="AmountWith" [(ngModel)]="AmountWith" placeholder="Amount" required></ion-input>
</ion-item>
</ion-col>
<ion-col col-12>
<ion-item>
<ion-label><ion-icon name="person"></ion-icon></ion-label>
  <ion-input type="text" name="Name" [(ngModel)]="Name" placeholder="Name Of Account Holder" required></ion-input>
</ion-item>
</ion-col>
<ion-col col-12>
<ion-item>
<ion-label><ion-icon name="list-box"></ion-icon></ion-label>
  <ion-input type="number" name="AccNumber" [(ngModel)]="AccNumber" placeholder="Bank Account Number" required></ion-input>
</ion-item>
</ion-col>
<ion-col col-12>
<ion-item>
<ion-label><ion-icon name="list-box"></ion-icon></ion-label>
  <ion-input type="text" name="IBAN" [(ngModel)]="IBAN" placeholder="IBAN" required></ion-input>
</ion-item>
</ion-col>
<ion-col col-12>
<ion-item>
<ion-label><ion-icon name="list-box"></ion-icon></ion-label>
  <ion-input type="text" name="swift" [(ngModel)]="swift"  placeholder="Swift" required></ion-input>
</ion-item>
</ion-col>
<ion-col col-12>
<ion-item>
<ion-label><ion-icon name="list-box"></ion-icon></ion-label>
  <ion-input type="text" name="ifsc" [(ngModel)]="ifsc" placeholder="IFSC Code" required></ion-input>
</ion-item>
</ion-col>
<ion-col col-12>
<ion-item>
<ion-label><ion-icon name="list-box"></ion-icon></ion-label>
  <ion-input type="text" name="BankName" [(ngModel)]="BankName" placeholder="Bank Name" required></ion-input>
</ion-item>
</ion-col>
<ion-col col-12>
<ion-item>
<ion-label> <ion-icon name="pin"></ion-icon></ion-label>
  <ion-input type="text" name="BankAdd" [(ngModel)]="BankAdd"  placeholder="Bank Address"required></ion-input>
  </ion-item>
</ion-col>
<ion-col col-12>
<ion-item>
<ion-label><ion-icon name="list-box"></ion-icon></ion-label>
<ion-textarea name="ExtraInfo" [(ngModel)]="ExtraInfo" placeholder="Extra Information" required></ion-textarea> 
  </ion-item>
    </ion-col>
  <ion-row class="center">
<ion-col col-12>
<button ion-button color="Default" round class="my-btn" type="submit"  [disabled]="!loginForm.form.valid">Submit</button>
</ion-col>
</ion-row>
</ion-list>
  </ion-row> 
    </ion-grid>
  </form>
</ion-card>
</div>
</ion-content>
