page-download-file {
    .bkcolor{
        background: #264070;

  }
  .backicon{
    // width: 100%;
    // height: 50%;
    font-size: 59px;
    color: white;
    margin-left: 0px;
   
}

.toolbar-ios {
     padding: 0px !important ; 
    /* padding-left: 4px; */
    /* padding-right: 4px; */
    /* min-height: 44px; */
}
.toolbar-md {
     padding: 0px; 
    min-height: 56px;
}
// .col-1{
//     padding: 5%;
// }
.div-1{
    padding-left:28% ;
     width:130% ;
      height:80%;

}
.center{
  text-align:center !important;
  align-self:center !important;
}
.button-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
   height: 0%;
}
.toolbar-ios {
    padding: 0px;
    min-height: 56px;
    height: 63px;
}
.toolbar-md {
    padding: 0px;
    min-height: 56px;
    height: 63px;
}
img.imglogo {
    margin-top: 2px;
    width: 243px;
}
ion-buttons.bar-buttons.bar-buttons-md,.bar-buttons-ios {
    position: sticky;
    top: 0%;
    left: 0%;
    margin: 0 auto;
    text-align: center;
    align-self: center;
}
@media only screen and (min-width:524px) and (max-width:1080px){
 
 img.imglogo {
     margin-top: 2px;
     width: 245px;
 }
    }

    .div1{
        margin-top: 23%;
    }
    ion-card-header{
        background: #264070;
    
    }
    .my-btn {
        width: 100%;
        text-transform: capitalize;
    }
    h6.proof {
        text-align: left;
        margin-left: 23px;
        margin-bottom: 10px;
    }
    ion-card-header.center.card-header.card-header-md h4 {
        font-size: 1.9rem;
        font-weight: normal;
    }
    .list-md .item-input:last-child {
        border-bottom: 1px solid #000 !important;
        border: 1px solid #000;
    }
    .center{
    text-align:center!important;
    align-self:center!important;
    }
    .h4{
        color: white;
    }
    ion-list.list.list-md {
    width: 100%;
   }
    ion-input.ion-input.input.input-md {
    border: 1px solid #e7e7e7;
    border-radius: 31px;
   }
   .item-md,.item-ios{
    padding-left: 16px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 36px !important;
    text-align:center;
    width: 100% !important;
    border: 1px solid #e7e7e7;
}
ion-icon {
    display: inline-block;
    font-size: 1.2em;
    color: #427feb;
    float:left;
}
.list-md .item-input:last-child {
    border-bottom: 1px solid #e7e7e7;
}
.list-ios {
 
    width: 100%;
}

.select-md .select-placeholder {
    color: #999;
    max-width: 100%;
    float: left !important;
    text-align: left;
    
}
.select-ios .select-placeholder {
    color: #999;
    max-width: 100%;
    float: left !important;
    text-align: left;
}
ion-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
   width: 100%!important;
    }
    ion-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    max-width: 91%!important;
    text-align: center;
}
.select-md {
   padding: 0px 10px 0px 0px; 
}
.select-ios {
    padding: 0px 8px 0px 0px;
    float: left !important;
}
.select-text {
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 16px;
    font-size: inherit;
    /* text-overflow: ellipsis; */
    white-space: nowrap;
    text-align: left;
}
.label-ios {
    margin: 0px 0px 0px 0;
}
.card-header-md ,.card-header-ios {
    font-size: 1.6rem;
    color: #222;
    padding: 9px;
}
@media only screen and (min-width:768px) and (max-width:1024px){
     .div1 {
    margin-top:10%;
}
ion-icon {
    display: inline-block;
    font-size: 2.5em;
    float: left;
    color: #029ff4;
    padding-left: 12px;
}
ion-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
   width: 94%!important;
    }
    ion-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    max-width: 94%!important;
    text-align: center;
}
}
@media only screen and (min-width:768px){
	.select-ios {
    padding: 0px 10px 0px 5px;
}
}
}
