<ion-header>
    <ion-navbar class="bkcolor" >
      <ion-grid class="bkcolor">
        <ion-row>
          <ion-col col-1 class="col-1">
           
                <ion-buttons (click)="homefun15()">
                    <button ion-button class="button-inner">
                      <ion-icon name="ios-arrow-round-back-outline" class="backicon" ></ion-icon>
                      </button>
                    </ion-buttons>
                   </ion-col>
                 <ion-col col-10>
               <div class="center">
            <!-- <div class="div-1"> -->
              <img src="assets/imgs/newlogo2.png" class="imglogo"/>
            <!-- </div> -->
            </div>
          </ion-col>
        
        </ion-row>
      </ion-grid>
      
    </ion-navbar>
  </ion-header>



<ion-content padding>
    <div class="div1">
      <div class="head"><h4> Wire capital </h4></div>
        <form [formGroup]="formgroup"  (ngSubmit)="depositvisaFun()" #depositvisaForm="ngForm">
        <ion-card>
          <ion-card-header  class="center">
            <h4 class="h4">Personal Details</h4>
            </ion-card-header>
         
           <ion-grid>
          <ion-row class="center" class="width">
        <ion-list class="center">
      <ion-col col-12>                                                                                             
        <ion-item>
          <ion-label><ion-icon name="person"></ion-icon></ion-label>
          <ion-input type="text" value="{{firstName}}" name="fname" formControlName="firstNamee" [(ngModel)]="firstName" placeholder="First Name" required></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.firstNamee.hasError('required') &&  formgroup.controls.firstNamee.touched">
          <p >Enter Your First Name.</p>
            </ion-item>

      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label><ion-icon name="person"></ion-icon></ion-label>
          <ion-input type="text" value="{{lastName}}" name="lname" formControlName="lastNamee" [(ngModel)]="lastName" placeholder="Last Name" required></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.lastNamee.hasError('required') &&  formgroup.controls.lastNamee.touched">
          <p >Enter Your Last Name.</p>
            </ion-item>

      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label><ion-icon ios="ios-mail-outline" md="md-mail"></ion-icon></ion-label>
          <ion-input type="email" name="email" [(ngModel)]="email" [readonly]="isReadonly()" formControlName="emaile" value="{{email}}" placeholder="Email" required></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.emaile.hasError('required') &&  formgroup.controls.emaile.touched">
          <p >Enter Your Email Id.</p>
            </ion-item>


      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label><ion-icon name="phone-portrait"></ion-icon></ion-label>
          <ion-input type="tel" name="mobile" [(ngModel)]="phoneNumber" maxlength="10"  formControlName="phoneNumbere" value="{{phoneNumber}}" placeholder="mobile" required></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.phoneNumbere.hasError('required') &&  formgroup.controls.phoneNumbere.touched">
          <p >Enter Your Phone Number.</p>
            </ion-item>


      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label> <ion-icon name="pin"></ion-icon></ion-label>
          <ion-input type="text"  name="scode" [(ngModel)]="scode" formControlName="scodee" placeholder="State Code" ></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.scodee.hasError('required') &&  formgroup.controls.scodee.touched">
          <p >Enter State Code.</p>
            </ion-item>


      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label> <ion-icon name="pin"></ion-icon></ion-label>
          <ion-input type="text"  name="ccode" [(ngModel)]="country"  formControlName="countrye" value="{{country}}" placeholder="Country Code" required></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.countrye.hasError('required') &&  formgroup.controls.countrye.touched">
          <p >Enter Country Code</p>
            </ion-item>


      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label><ion-icon name="pin"></ion-icon></ion-label>
          <ion-input type="text"  name="city" [(ngModel)]="city" formControlName="citye" value="{{city}}" placeholder="City" required></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.citye.hasError('required') &&  formgroup.controls.citye.touched">
          <p >Enter Your City.</p>
            </ion-item>

            
      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label> <ion-icon name="pin"></ion-icon></ion-label>
          <ion-input type="tel" maxlength="6"  name="zip" [(ngModel)]="zipCode" formControlName="zipCodee" value="{{zipCode}}" placeholder="Zip Code" required></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.zipCodee.hasError('required') &&  formgroup.controls.zipCodee.touched">
          <p >Enter Zip Code.</p>
            </ion-item>

      </ion-col>
      </ion-list>
      </ion-row> 
            </ion-grid>
         
        </ion-card>
         
          <ion-card>
          <ion-card-header  class="center">
            <h4 class="h4">Payment Detail</h4>
            </ion-card-header>
           
           <ion-grid>
          <ion-row class="center" class="width">
        <ion-list class="center">
      <ion-col col-12>
        <ion-item>
          <ion-label> <ion-icon name="cash"></ion-icon></ion-label>
          <ion-input type="number"  name="amount" [(ngModel)]="amount" formControlName="amounte" placeholder="Amount" required></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.amounte.hasError('required') &&  formgroup.controls.amounte.touched">
          <p >Enter Your Amount.</p>
            </ion-item>


      </ion-col>
       <ion-col col-12>
       <ion-list>
        <ion-item>
          <ion-label><ion-icon name="logo-usd"></ion-icon></ion-label>
          <ion-select   placeholder="Select Currency"  name="sCurrency" formControlName="sCurrencye" [(ngModel)]="sCurrency"  required> 
            <ion-option value="USD">USD</ion-option>
           
          </ion-select>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.sCurrencye.hasError('required') &&  formgroup.controls.sCurrencye.touched">
          <p >Select Currency.</p>
            </ion-item>


      </ion-list>
      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label><ion-icon ios="ios-card" md="md-card"></ion-icon></ion-label>
          <ion-input type="number"  name="cardNUm" [(ngModel)]="cardNUm" formControlName="cardNUme" placeholder="Card Number" required></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.cardNUme.hasError('required') &&  formgroup.controls.cardNUme.touched">
          <p >Enter Your Card Number.</p>
            </ion-item>


      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label><ion-icon ios="ios-card" md="md-card"></ion-icon></ion-label>
          <ion-input type="text" name="cardname" [(ngModel)]="cardname" formControlName="cardnamee"  placeholder="Name on Card" required></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.cardnamee.hasError('required') &&  formgroup.controls.cardnamee.touched">
          <p >Enter Your Card Name.</p>
            </ion-item>

      </ion-col>
       <ion-row>
        <ion-col col-6 class="gcpadding0">
       <ion-list>
        <ion-item>
          <ion-label> <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon></ion-label>
          <ion-select   placeholder="Month" name="month" [(ngModel)]="month" formControlName="monthe"  required class="width">
            <ion-option value="01">01</ion-option>
            <ion-option value="02">02</ion-option>
            <ion-option value="03">03</ion-option>
            <ion-option value="04">04</ion-option>
            <ion-option value="05">05</ion-option>
            <ion-option value="06">06</ion-option>
            <ion-option value="07">07</ion-option>
            <ion-option value="08">08</ion-option>
            <ion-option value="09">09</ion-option>
            <ion-option value="10">10</ion-option>
            <ion-option value="11">11</ion-option>
            <ion-option value="12">12</ion-option>
     </ion-select>
     <!-- <ion-datetime  #datePicker  [max]="maxDate"  formControlName="monthe"  displayFormat="M" placeholder="month" (ionChange)="fun(month)" (ionSelected)="month" name="month" [(ngModel)]="month" class="width"  [max]="maxDate"  required></ion-datetime> -->
     <!-- <mbsc-input class="width" placeholder="month" (ionChange)="fun(month)"  [(ngModel)]="month_only" mbsc-date [mbsc-options]="month_onlySettings"></mbsc-input> -->
     <!-- <ion-datetime displayFormat="MMMM" (ionChange)="fun(month)"  formControlName="monthe"  [(ngModel)]="month" class="width"></ion-datetime> -->
     <!-- <ion-datetime  formControlName="monthe" placeholder="month"  (ionChange)="fun(month)" name="month" [(ngModel)]="month"  pickerFormat="MMMM"   class="width"  required></ion-datetime> -->
     <!-- <ion-datetime  formControlName="yeare" placeholder="Year"  (ionChange)="fun1(year)" name="year" [(ngModel)]="year"  pickerFormat="YYYY" min="2018" max="2050"   class="width"  required></ion-datetime> -->


        </ion-item>
        <!-- <ion-item class="error" *ngIf="formgroup.controls.monthe.hasError('required') &&  formgroup.controls.monthe.touched">
          <p >Selelct Month  </p>
            </ion-item> -->


            <!-- <ion-datetime  formControlName="monthe" placeholder="month"  (ionChange)="funn()" name="month" [(ngModel)]="mm"  pickerFormat="MMMM"   class="width"  required></ion-datetime> -->

      </ion-list>
      </ion-col>
       <ion-col col-6>
       <ion-list>
        <ion-item>
          <ion-label> <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon></ion-label>
          <ion-select   placeholder="Year"   name="year" [(ngModel)]="year" formControlName="yeare"  required class="width">
            <ion-option class="error" *ngFor="let yearn of years"  value="{{yearn.year}}">{{yearn.year}}</ion-option>
          </ion-select>
          <!-- <ion-datetime  formControlName="yeare" placeholder="Year" name="year" [(ngModel)]="year"  pickerFormat="YYYY" min="2018" max="2050"   class="width"  required></ion-datetime> -->

        </ion-item>
        <!-- <ion-item class="error" *ngIf="formgroup.controls.yeare.hasError('required') &&  formgroup.controls.yeare.touched">
          <p >Selelct Year  </p>
            </ion-item> -->

      </ion-list>
      </ion-col>
    </ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label><ion-icon ios="ios-list-box" md="md-list-box"></ion-icon></ion-label>
          <ion-input type="number"name="ccv" [(ngModel)]="ccv"  formControlName="ccve" placeholder="CVV2" required></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.ccve.hasError('required') &&  formgroup.controls.ccve.touched">
          <p >Enter CCV code.</p>
            </ion-item>

      </ion-col>
        <ion-row class="center gc_mybtn">
          <ion-col col-12>
        <button ion-button color="Default" round class="my-btn" type="submit" [disabled]="!depositvisaForm.form.valid" >Pay Now</button>
      </ion-col>
      </ion-row>
      </ion-list>
      </ion-row> 
            </ion-grid>
         
        </ion-card>
      </form>
      </div>
      
</ion-content>
