<ion-header>
    <ion-navbar class="bkcolor" >
      <ion-grid class="bkcolor">
        <ion-row>
          <ion-col col-1 class="col-1">
           
                <ion-buttons >
                    <button ion-button class="button-inner" (click)="homefun12()">
                      <ion-icon name="ios-arrow-round-back-outline" class="backicon"></ion-icon>
                    </button>
                  </ion-buttons>
                
          </ion-col>
  
   
         
          <ion-col col-10>
            <div class="center">
            <!-- <div class="div-1"> -->
              <img src="assets/imgs/newlogo2.png" class="imglogo"/>
            <!-- </div> -->
            </div>
          </ion-col>
        
        </ion-row>
      </ion-grid>
      
    </ion-navbar>
  </ion-header>


<ion-content padding>
    <div class="div1">
     <div class="head"><h4>CashU</h4></div>
        <ion-card>
          <ion-card-header  class="center">
            <h4 class="h4">Personal Details</h4>
            </ion-card-header>
            <form [formGroup]="formgroup" (ngSubmit)="login()" #loginForm="ngForm">
           <ion-grid>
          <ion-row class="center" class="width">
        <ion-list class="center">
      <ion-col col-12>
        <ion-item>
          <ion-label><ion-icon name="person"></ion-icon></ion-label>
          <ion-input type="text" value="{{firstName}}" formControlName="firstNamee" name="fname" [(ngModel)]="firstName"   placeholder="First Name" required></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.firstNamee.hasError('required') &&  formgroup.controls.firstNamee.touched">
          <p >Enter Your First Name.</p>
            </ion-item>

      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label><ion-icon name="person"></ion-icon></ion-label>
          <ion-input type="text"  name="lname" [(ngModel)]="lastName" formControlName="lastNamee" value="{{lastName}}" placeholder="Last Name" required></ion-input>
        </ion-item>
        <ion-item  class="error" *ngIf="formgroup.controls.lastNamee.hasError('required') &&  formgroup.controls.lastNamee.touched">
          <p >Enter Your Last Name.</p>
            </ion-item>

      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label><ion-icon name="phone-portrait"></ion-icon></ion-label>
          <ion-input type="tel" maxlenght="10"  name="phoneNumber" maxlength="10" [(ngModel)]="phoneNumber" formControlName="phoneNumbere" value="{{phoneNumber}}" placeholder="mobile" required></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.phoneNumbere.hasError('required') &&  formgroup.controls.phoneNumbere.touched">
          <p >Enter Your Phone Number.</p>
            </ion-item>

      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label> <ion-icon name="pin"></ion-icon></ion-label>
          <ion-input type="text"  name="countryc" [(ngModel)]="country" formControlName="countrye" value="{{country}}" placeholder="Country Code" required></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.countrye.hasError('required') &&  formgroup.controls.countrye.touched">
          <p >Enter Your Country.</p>
            </ion-item>

      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label><ion-icon name="pin"></ion-icon></ion-label>
          <ion-input type="text"   name="city" [(ngModel)]="city" formControlName="citye" value="{{city}}" placeholder="City" required></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.citye.hasError('required') &&  formgroup.controls.citye.touched">
          <p >Enter Your City.</p>
            </ion-item>

      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label> <ion-icon name="pin"></ion-icon></ion-label>
          <ion-input type="tel"   [readonly]="isReadonly()" name="zipCode" [(ngModel)]="zipCode" formControlName="zipCodee" value="{{zipCode}}" placeholder="Zip Code" required></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.zipCodee.hasError('required') &&  formgroup.controls.zipCodee.touched">
          <p >Enter Your ZipCode.</p>
         
            </ion-item>

      </ion-col>
      </ion-list>
      </ion-row> 
            </ion-grid>
          </form>
        </ion-card>
      
          <ion-card>
          <ion-card-header  class="center">
            <h4 class="h4">Payment Detail</h4>
            </ion-card-header>
            <form  [formGroup]="formgroup" >
           <ion-grid>
          <ion-row class="center" class="width">
        <ion-list class="center">
      <ion-col col-12>
        <ion-item>
          <ion-label><ion-icon ios="ios-mail-outline" md="md-mail"></ion-icon></ion-label>
          <ion-input type="email"  name="email" [(ngModel)]="email" formControlName="emaile" [readonly]="isReadonly()"  value="{{email}}" placeholder="Copyemail@gmail.com" required></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.emaile.hasError('required') &&  formgroup.controls.emaile.touched">
          <p >Enter Your Email Id.</p>
          
            </ion-item>

      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label> <ion-icon name="cash"></ion-icon></ion-label>
          <ion-input type="number"  name="Amount" [(ngModel)]="Amount" formControlName="Amounte"   placeholder="Amount" required></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.Amounte.hasError('required') &&  formgroup.controls.Amounte.touched">
          <p >Enter Your Amount.</p>
       
            </ion-item>

      </ion-col>
       <ion-col col-12>
       <ion-list>
        <ion-item class="gc_select">
          <ion-label class="width30"><ion-icon name="logo-usd"></ion-icon></ion-label>
          <ion-select   placeholder="Select Currency"   name="sCurrency" formControlName="sCurrencye" [(ngModel)]="sCurrency"  required>
            <ion-option value="USA">USA</ion-option>
           
          </ion-select>
          <ion-item class="error" *ngIf="formgroup.controls.sCurrencye.hasError('required') &&  formgroup.controls.sCurrencye.touched">
            <p >Selelct Your Country.</p>
              </ion-item>
        </ion-item>
      </ion-list>
      </ion-col>
      <!-- <ion-col col-12>
        <ion-item>
          <ion-label><ion-icon ios="ios-list-box" md="md-list-box"></ion-icon></ion-label>
          <ion-input type="text" value="" placeholder="NETELLER Secure ID or Authentication Code"></ion-input>
        </ion-item>
      </ion-col> -->
        <ion-row class="center gc_mybtn">
          <ion-col col-12>
        <button ion-button color="Default" round class="my-btn" type="submit"  [disabled]="!loginForm.form.valid">Pay Now</button>
      </ion-col>
      </ion-row>
      </ion-list>
      </ion-row> 
            </ion-grid>
          </form>
        </ion-card>
      </div>
      
</ion-content>
