page-login {
    .center{
        align-self:center;
        width: 100%;
        text-align: center;
        }
         .img img{
         max-width:100%;
         }
         .bg{
        background-color: #0A1B39;
        height: 100%;
    }
    ion-icon {
        display: inline-block;
        font-size: 1.5em;
        float: left;
        color: #029ff4;
       
        }
    .item-md {
        padding-left: 16px;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
       
        border-radius: 36px !important;
        text-align:center;
        width: 100%;
    }
    button.my-btn.disable-hover.button.button-md.button-default.button-default-md.button-round.button-round-md.button-md-Default {
        width: 100%;
        padding: 24px;
        float:left;
        letter-spacing: 3px;
    }
    .forget-p{
        float: right
    }
    .forget-p p{
        float: right;
        color: #fff;
        letter-spacing: 3px;
        width: 100%;
    
    }
    
    ion-select .select-text{margin-left: 11px;}
    ion-list {
        margin: 0;
        padding: 0;
        display: block;
        list-style-type: none;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    .item-ios {
        padding-left: 16px;
        padding-left: 16px;
        border-radius: 0;
        position: relative;
        font-size: 1.7rem;
        color: #000;
        background-color: #fff;
        -webkit-transition: background-color 200ms linear;
        transition: background-color 200ms linear;
        border-radius: 51px;
    }
    .button-ios {
        border-radius: 4px;
        height: 2.8em;
        font-size: 1.6rem;
        color: #fff;
        background-color: #488aff;
        margin: 0.4rem 0.2rem;
        padding: 0 1em;
        width: 100%;
        border-radius: 31px;
        float: left!important;
        letter-spacing: 2px;
        text-align: center;
    }
    .img {
        // padding-top: 45px;
    }
    .img img{
       max-width:100%;
    }
    
    input.text-input.text-input-md {
        letter-spacing: 1px;
    }
    .scroll-content {
        padding: 0px !important;
    }
    .select-md .select-placeholder {
color: #999;
max-width: 100%;
float: left !important;
text-align: left;

}
.select-ios .select-placeholder {
color: #999;
max-width: 100%;
float: left !important;
text-align: left;
}
ion-select {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
overflow: hidden;
width: 100%!important;
}
ion-select {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
overflow: hidden;
max-width:89%!important;
text-align: center;
}
.select-ios {
padding: 0px 8px 0px 0px;
float: left !important;
}
.select-text {
overflow: hidden;
-webkit-box-flex: 1;
-webkit-flex: 1;
-ms-flex: 1;
flex: 1;
min-width: 16px;
font-size: inherit;
/* text-overflow: ellipsis; */
white-space: nowrap;
text-align: left;
}
.label-ios {
margin: 0px 0px 0px 0;
}
.select-md {
padding: 0;
}

.my-btn{margin: 0;}
.text-input-md {
    margin: 13px 11px;
    padding: 0;
    width: calc(100% - 8px - 8px);
}
.text-input-ios {
    margin: 13px 14px;
    padding: 0;
    width: calc(100% - 8px - 8px);
}
.list-md {
    margin: 0px 0 16px; 
}
.select-md .select-icon .select-icon-inner {
    left: -14px;
    top: 50%;
    margin-top: -3px;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: #999;
    pointer-events: none;
}
.scroll-content {
    padding-bottom: 0px!important;
    margin-top: 0px!important;
}
span.button-inner {
    text-transform: capitalize;
}
.list-md {
    margin: 0px !important;
}
ion-label {
    -webkit-box-flex: initial;
    -webkit-flex: initial;
    -ms-flex: initial;
    flex: initial;
    max-width: 200px;
    pointer-events: none;
    
}
.row{display: block;}
.bg {
    background-color: #0A1B39;
    height: 100%;
    overflow-y: scroll;
}
ion-item.error .item-inner{border-bottom: none !important;}
.ion-icon{width: 42px;height: 42px;}
@media only screen and (min-width:768px) and (max-width:1024px){
 .div1 {margin-top: 75px;}
ion-icon {
display: inline-block;
font-size: 2.5em;
color: #029ff4;
padding-left: 12px;
}

.button-ios {
border-radius: 4px;

font-size: 2.3rem;
color: #fff;
background-color: #488aff;
margin:  0 !important;
padding: 0 1em;
width: 100%;
border-radius: 31px;
float: left !important;
letter-spacing: 2px;
text-align: center;
 height: 2.0em !important;
}

ion-select {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
overflow: hidden;
width: 94%!important;
}
ion-select {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
overflow: hidden;
max-width: 92%!important;
text-align: center;
}
.text-input-md {
    margin: 13px 27px;
    /* padding: 0; */
    width: calc(100% - 8px - 8px);
}
    ion-icon {
        display: inline-block;
        font-size: 2.5em;
        float: left;
        color: #029ff4;
        padding-left: 12px;
    }
    .button-ios {
        border-radius: 4px;
        height: 2.8em;
        font-size: 2.3rem;
        color: #fff;
        background-color: #488aff;
        margin: 0.4rem 0.2rem;
        padding: 0 1em;
        width: 100%;
        border-radius: 31px;
        float: left !important;
        letter-spacing: 2px;
        text-align: center;
    }
    .forget-p {
        float: right;
        font-size: 21px;
    }
   .select-md {
        padding: 13px 8px 13px 16px;
        text-align: center;
        padding-right: 12%;
    }
    .select-md .select-icon .select-icon-inner {
        left: 36px;
        top: 50%;
        margin-top: -3px;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 5px solid;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        color: #999;
        pointer-events: none;
    }
    .scroll-content {
        padding-bottom: 0px!important;
        margin-top: 0px!important;
    }
}
@media only screen and (min-width:768px){
.select-ios {
padding: 0px 10px 0px 5px;
}
}
@media only screen and (min-width:640px) and (max-width:1030px){
    ion-row.width.row {
        margin-top: 27p;
        padding-top: 10px;
    }
}
}

