

<ion-content>
  <ion-grid class="bg">
    <ion-row class="center">
      <ion-col col-12>
        <div class="img">
          <img src="assets/imgs/newlogo002.png">
        </div>
      </ion-col>
    </ion-row>
 <form [formGroup]="formgroup" (ngSubmit)="login(email,password,usertype)" #loginForm="ngForm"> 
    <ion-row class="center" class="width">
      <ion-list>
  <ion-col col-12>
   <ion-item>
     <ion-label><ion-icon name="person"></ion-icon></ion-label>
     <ion-input type="text" placeholder="User Email"  formControlName="emaile" name="email" [(ngModel)]="email" required> </ion-input>
   </ion-item>
   <ion-item class="error" *ngIf="formgroup.controls.emaile.hasError('required') &&  formgroup.controls.emaile.touched">
    <p style="color:red">Enter Your Email Id </p>
      </ion-item>
      
 </ion-col>
   <ion-col col-12>
   <ion-item>
     <ion-label><ion-icon name="lock"></ion-icon></ion-label>
     <ion-input type="password" placeholder="Password" formControlName="passworde" name="password" [(ngModel)]="password" required></ion-input>
   </ion-item>
   <ion-item class="error" *ngIf="formgroup.controls.passworde.hasError('required') &&  formgroup.controls.passworde.touched">
    <p style="color:red">Enter Your Password</p>
      </ion-item>

 </ion-col>
 <ion-col col-12>
   <ion-item>
     <ion-label><ion-icon name="person"></ion-icon></ion-label>
     <ion-select  placeholder="Select Type" title="Select Type" formControlName="usertypee" name="usertype" [(ngModel)]="usertype" required >
     <ion-option value="user">Client</ion-option>
     <ion-option value="agent">Partner</ion-option>
     <ion-option value="affiliate">Affiliate</ion-option>

   </ion-select>
   </ion-item>
   <ion-item class="error" *ngIf="formgroup.controls.usertypee.hasError('required') &&  formgroup.controls.usertypee.touched">
    <p style="color:red">Select Type</p>
      </ion-item>

 </ion-col>
 <ion-col col-12>
   <button ion-button color="Default" round class="my-btn" type="submit"  [disabled]="!loginForm.form.valid">Sign In</button>
 </ion-col>
 <ion-col col-12>
   <div class="forget-p">
   <p (click)="forgetpasswordFun()">Forgot Password ?</p>
 </div>
 </ion-col>
 </ion-list>
  </ion-row>
</form>
  </ion-grid>
 
 </ion-content>
 