<ion-header>
    <ion-navbar class="bkcolor" >
      <ion-grid class="bkcolor">
        <ion-row>
          <ion-col col-1 class="col-1">
            
            <ion-buttons (click)="homefun()">
                <button ion-button class="button-inner">
                    <ion-icon name="ios-arrow-round-back-outline" class="backicon" ></ion-icon>
                    </button>
                  </ion-buttons>
               
             </ion-col>
           <ion-col col-10>
            <div class="center">
            <!-- <div class="div-1"> -->
              <img src="assets/imgs/newlogo2.png" class="imglogo"/>
            <!-- </div> -->
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <ion-grid class="p-space">
    <ion-row>
      <ion-col col-12 class="gc_table">
        <div class="top-name">
          <h4>Account Information</h4>
        </div>
      </ion-col>
    </ion-row>
	<ion-row>
<ion-col col-12 class="gc_table">
	<div class="tablediv">
		<table style="width:100%" class="table-responsive">
     <tr>
    <th>Account Number</th>
    <th>Account type</th> 
    <th>platform</th>
  </tr>
  <tr *ngIf='data.account1!="" '>
    <td >{{data.account1}}</td>
    <td>{{data.accountType1}}</td>
 <td>{{data.platform1}}</td>
</tr>
<tr *ngIf='data.account2!="" '>
    <td >{{data.account2}}</td>
    <td>{{data.accountType2}}</td>
    <td>{{data.platform2}}</td>
    </tr>

  <tr *ngIf='data.account3!="" '>
    <td >{{data.account3}}</td>
    <td>{{data.accountType3}}</td>
 <td>{{data.platform3}}</td>
  </tr>

   <tr *ngIf='data.account4!="" '>
    <td >{{data.account4}}</td>
    <td>{{data.accountType4}}</td>
 <td>{{data.platform4}}</td>
  </tr> 
</table>
</div>
</ion-col>
</ion-row>
</ion-grid>

</ion-content>
