page-account-info {
    .bkcolor{
        background: #264070;

  }
  .backicon{
    // width: 100%;
    height: 50%;
    // font-size: 48px;
    color: white;
    margin-left: 0px;
    float:left;
    // width: 100%;
    // padding: 12px 0px;
}

.toolbar-ios {
    padding: 0px;
    min-height: 56px;
    height: 63px;
}
.toolbar-md {
    padding: 0px;
    min-height: 56px;
    height: 63px;
}
img.imglogo {
    margin-top: 2px;
    width:243px;
}
// .col-1{
//     padding: 5%;
// }
.div-1{
    padding-left:28% ;
     width:130% ;
      height:80%;

}
// .backarrow-div
// {
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     padding: 0px;
//     top: 22%;
//     left: 0%;
// }
 ion-grid.p-space.grid{margin-top: 9px;}
ion-buttons.arrow-b.bar-buttons.bar-buttons-md
{
    width: 100%;
    height: 100%;
    // padding: 14px 0px;
    position: absolute;
    top: 5%;
    left: 0%;
}
.center{
  text-align:center !important;
  align-self:center !important;
}
.button-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
   height: 0%;
}
.toolbar-background-md {
    border-color: #b2b2b2;
    background: #264070;
}
.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
}
.toolbar-background-ios {
    background: #264070;
}
.toolbar-title-ios {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: #f4f4f4;
    pointer-events: auto;
}
/*.tablediv{
    border: 2px solid #264070;
    padding: 20px;
    }*/
table, th, td {
    border: 1px solid #488aff;
    border-collapse: collapse;
    text-align: center;
}
table {
        display:inline-table;
        overflow-x: auto;
        white-space: nowrap;
    }
    .select-md {
    padding: 0px 20px 0px 0px;
}
.select-ios {
    padding: 0px 10px 0px 0px;
}
tr {
    height: 50px;
}
.top-name {
    background-color: #374f7b;
    text-align: center;
    padding: 5px;
    color: #fff;
    margin-top: 1px;
}
.top-name h4 {
    margin-top: 6px !important;
    margin-bottom: 6px;
    font-size: 2.4rem;
}
ion-buttons.bar-buttons.bar-buttons-md, .bar-buttons-ios{
    margin: 0 auto;
    text-align: center;
    align-self: center;
    position: sticky;
    top: 0%;
    left: 0%;
}
ion-grid.p-space.grid {
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 2%;
}

.gc_table.col{margin-top: 0 !important;margin-bottom: 0 !important;}
.gc_table.col:first-child {
    padding-top: 00px !important;
}

// .ion-ios-arrow-round-back-outline:before {
//    content: "\f117";
//     float: left;
//     max-width: 100%;
//     display: -webkit-inline-box;
//     display: -webkit-inline-flex;
//     display: -ms-inline-flexbox;
//     display: inline-flex;
//     position: fixed;
//     text-align: center;
//     object-fit: cover;
//     margin: 0 auto;
//     padding: 9px 0px;
// }
// @media only screen and (min-width:768px) and (max-width:899px){
//     .ion-ios-arrow-round-back-outline:before {
//         content: "\f117";
//          float: left;
//          max-width: 100%;
//          display: -webkit-inline-box;
//          display: -webkit-inline-flex;
//          display: -ms-inline-flexbox;
//          display: inline-flex;
//          position: fixed;
//          text-align: center;
//          object-fit: cover;
//          margin: 0 auto;
//          padding:21px 0px;
//      }
// }
// @media only screen and (min-width:900px) and (max-width:1030px){
//     .ion-ios-arrow-round-back-outline:before {
//         content: "\f117";
//          float: left;
//          max-width: 100%;
//          display: -webkit-inline-box;
//          display: -webkit-inline-flex;
//          display: -ms-inline-flexbox;
//          display: inline-flex;
//          position: fixed;
//          text-align: center;
//          object-fit: cover;
//          margin: 0 auto;
//          padding:36px 0px;
//      }
// }
@media only screen and (min-width:768px) and (max-width:1030px){
    .top-name {
        background-color: #374f7b;
        text-align: center;
        padding: 5px;
        color: #fff;
        margin-top: 0;
    }
    ion-grid.p-space.grid
    {
        padding-left: 10px;
        padding-right: 10px;
        margin-top:9px;
    } 
}
   @media only screen and (min-width:524px) and (max-width:1080px){
   table {
    display: inline-table;
    overflow-x: auto;
    white-space: nowrap;
}
img.imglogo {
    margin-top: 2px;
    width: 245px;
}
   }
}
