<ion-header>
    <ion-navbar class="bkcolor" >
      <ion-grid class="bkcolor">
        <ion-row>
          <ion-col col-1 class="col-1">
           
                <ion-buttons (click)="homefun13()">
                    <button ion-button class="button-inner">
                      <ion-icon name="ios-arrow-round-back-outline" class="backicon" ></ion-icon>
                    </button>
                  </ion-buttons>
                
          </ion-col>
  
   
         
          <ion-col col-10>
            <div class="center">
            <!-- <div class="div-1"> -->
              <img src="assets/imgs/newlogo2.png" class="imglogo"/>
            <!-- </div> -->
            </div>
          </ion-col>
        
        </ion-row>
      </ion-grid>
      
    </ion-navbar>
  </ion-header>



<ion-content padding>
    <div class="div1">
        <div class="head"><h4>Neteller</h4></div>
        <ion-card>
          <ion-card-header  class="center">
            <h4 class="h4">Neteller Payment</h4>
            </ion-card-header>
            <form [formGroup]="formgroup" (ngSubmit)="NetellerFun(accountid,amount,currency,code)" #loginForm="ngForm">
           <ion-grid>
          <ion-row class="center" class="width">
        <ion-list class="center">
      <ion-col col-12>
        <ion-item>
          <ion-label><ion-icon ios="ios-mail-outline" md="md-mail"></ion-icon></ion-label>
          <ion-input type="text" name=account [(ngModel)]="accountid"  formControlName="account" placeholder="Neteller Email Or Account ID " required></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.account.hasError('required') &&  formgroup.controls.account.touched">
          <p >Enter Neteller Email Or Account ID. </p>
            </ion-item>
        
      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label> <ion-icon name="cash"></ion-icon></ion-label>
          <ion-input type="number"    name=amount [(ngModel)]="amount" formControlName="amount" (ionChange)="validationfun(amount)" placeholder="Min.Amount Allowed Is 10 USD." required></ion-input>
        </ion-item>
       <!-- <div *ngIf="account='valid'"> -->
          <ion-item class="error " *ngIf=" flag &&  formgroup.controls.amount.touched">
            Please Enter More that 10$ Amount.
          </ion-item>
        <!-- </div> -->
        <!-- <div *ngIf="account='!valid'"> -->
        <!-- <ion-item class="error" *ngIf="formgroup.controls.amount.hasError('required') &&  formgroup.controls.amount.touched">
          <p >Enter Your Amount</p>
            </ion-item> -->
          <!-- </div> -->

      </ion-col>
       <ion-col col-12>
       <ion-list>
        <ion-item>
          <ion-label class="width30"><ion-icon name="logo-usd"></ion-icon></ion-label>
          <ion-select   placeholder="Select Currency"  name=currency [(ngModel)]="currency" formControlName="currency"  required >
            <ion-option *ngFor="let currency of currencys " value="{{currency.name}}">{{currency.name}}</ion-option>
           
          </ion-select>
        </ion-item>
        <ion-item class="error gc_select" *ngIf="formgroup.controls.currency.hasError('required') &&  formgroup.controls.currency.touched">
          <p >Selelct Your Currency.</p>
            </ion-item>

      </ion-list>
      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label><ion-icon ios="ios-list-box" md="md-list-box"></ion-icon></ion-label>
          <ion-input type="number"  name=id [(ngModel)]="code" formControlName="sercureId" placeholder="NETELLER Secure ID or Authentication Code" required></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.sercureId.hasError('required') &&  formgroup.controls.sercureId.touched">
          <p > Enter NETELLER Secure ID or Authentication Code.</p>
            </ion-item>

      </ion-col>
        <ion-row class="center gc_mybtn">
          <ion-col col-12>
        <button ion-button color="Default" round class="my-btn" type="submit"  [disabled]="!loginForm.form.valid">Pay Now</button>
      </ion-col>
      </ion-row>
      </ion-list>
      </ion-row> 
            </ion-grid>
          </form>
        </ion-card>
      </div>
      
</ion-content>
