page-track-affiliate {
    .bkcolor{
        background: #264070;
 }
 .scroll-content {
    padding-bottom: 0px !important;
    margin-top: 0px!important;
}
  .backicon{
    // width: 100%;
    // height: 50%;
    font-size: 59px;
    color: white;
    margin-left: 0;
    
   
}
.toolbar-ios {
     padding: 0px !important ; 
    /* padding-left: 4px; */
    /* padding-right: 4px; */
    /* min-height: 44px; */
}
.toolbar-md {
     padding: 0px; 
    min-height: 56px;
}
// .col-1{
//     padding: 5%;
// }
.div-1{
    padding-left:28% ;
     width:130% ;
      height:80%;
}
.center{
  text-align:center !important;
  align-self:center !important;
}
.button-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
   height: 0%;
}
.cardmm{
    padding: 28px;
    background: rgb(72, 142, 223);
}
.h1{
    text-align: center;
    font-size: 1.5rem
}
.divmm{
    margin-top: 69px;
}
.md {
    border: 1px solid;
    padding: 11px;
    border-radius: 8px;
}
.padd{
    padding: 0%;
}
.col:first-child {
     padding-top: 0px !important; 
}
// page-track-affiliate .col:first-child {
//     padding-top: 0px !important;
// }
 .padd {
    padding: 0px !important;
}
.buttonmm {
    text-align: center;
}
    .buttonmm button.disable-hover.button.button-ios.button-default.button-default-ios {
        margin: 3px;
        padding: 0px 6px;
    }

    .buttonmm ion-label.label.label-ios {
        padding: 0px;
        margin: 0px;
        color: #000;
        font-weight: bold;
    }
    .buttonmm ion-icon.icon.icon-ios.ion-ios-copy {
        font-size: 30px;
        color: #488aff;
    }

    page-personal-p ion-label 
{
    -webkit-box-flex: initial;
    -webkit-flex: initial;
    -ms-flex: initial;
    flex: initial;
    max-width: 100%;
    pointer-events: none;
}
page-personal-p .buttonmm {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cardmm {
    padding: 28px;
    background: #488edf;
    height: 100%;
}
.card-md {
    margin: 0px !important;
    border-radius: 2px;
    width: 90%;
    font-size: 1.4rem;
    background: #488aff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.card-ios {
    margin: 0px;
    border-radius: 2px;
    width: calc(100% - 24px);
    font-size: 1.4rem;
    background: #488aff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.buttonmm {
    text-align: center;
    margin-top: 10px;
}

.iconimg{
    display: inline-block;
    font-size: 3.2em;
    // padding: 7px;
    color: #264070;
}

// ion-input#mm {
//     border: 2px solid #264070;
//     border-radius: 18px;
//     height: 56px;
//     text-align: center;
//     padding: 4px;
// }
.text-input-md {
    // text-align: center;
    margin: 9px 1px;
    // padding: 0px;
    width: 101%;
}

.rowaffit{
    border-radius: 5px;
    border: 2px solid #264070;
}
.iconcol{
    
    padding: 14px;
}
ion-row.rowaffit.row {
    height: 63px;
}


.md {
    padding: 0px;
    // margin: -6px -15px;
    // height: 25px;
}
    // page-home ion-input#mm {
    //     margin: 4px 3px;
    //     height: 25px;
    //     width: 105%;
    // }

    ion-col.iconcol.col {
        padding: 17px;
    }

    page-home .iconimg {
        display: inline-block;
        font-size: 3.2em;
        color: #264070;
    }
 .md {
        padding: 11px;
        border: 0px;
        border-radius: 0px;
        margin: -4px -11px;
        width: 105%
    }

}

    



