
<ion-header>

  <ion-navbar class="bkcolor">
    <ion-grid class="bkcolor">
      <ion-row>
        <ion-col col-1 class="col-1">

          <ion-buttons>
            <button ion-button class="button-inner" (click)="homefuntracker()">
              <ion-icon name="ios-arrow-round-back-outline" class="backicon"></ion-icon>
            </button>
          </ion-buttons>

        </ion-col>



        <ion-col col-10>
          <div class="center">
            <!-- <div class="div-1"> -->
            <img src="assets/imgs/newlogo2.png" class="imglogo" />
            <!-- </div> -->
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-navbar>
</ion-header>


<ion-content padding>

  <div class="divmm " >
    <ion-grid>
      <ion-row>
        <ion-col col-6 class="padd">
            <ion-card class="cardmm">
                <h1  class="h1">Registered Client</h1>
                <h1  class="h1"> {{clients}}</h1>
          
              </ion-card>
        </ion-col>
        <ion-col col-6 class="padd">
            <ion-card class="cardmm">
                <h1  class="h1"> Website Visitor</h1>
                <h1 class="h1"> {{visitors}}</h1>
              </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid> 
  
  </div>
<ion-grid>
    <ion-row class="rowaffit"  >
              
      <ion-col col-10 >
        <div class="divlink">
             <ion-input class="md"  [readonly]="isReadonly()" type="test"  value="{{mm}}"></ion-input>
           </div>
         </ion-col>
         <ion-col col-2 (click)="ngIfCtrl()" class="iconcol">
          <ion-icon name="copy" class="iconimg"></ion-icon>
         </ion-col>

    
       </ion-row>
      </ion-grid>
</ion-content>
