<ion-header>
    <ion-navbar class="bkcolor" >
      <ion-grid class="bkcolor">
        <ion-row>
          <ion-col col-1 class="col-1">
           
                <ion-buttons >
                    <button ion-button class="button-inner" (click)="homefun8()">
                      <ion-icon name="ios-arrow-round-back-outline" class="backicon"></ion-icon>
                    </button>
                  </ion-buttons>
               </ion-col>
  
   
         
          <ion-col col-10>
            <div class="center">
            <!-- <div class="div-1"> -->
              <img src="assets/imgs/newlogo2.png" class="imglogo"/>
            <!-- </div> -->
            </div>
          </ion-col>
        
        </ion-row>
      </ion-grid>
      
    </ion-navbar> 
  </ion-header> 


<ion-content padding>
  <div class="div1-fee">
    <ion-card>
      <ion-card-header  class="center">
        <h4 class="h4">Feedback Form</h4>
        </ion-card-header>
        <form  [formGroup]="formgroup" (ngSubmit)="send_feedback()" #loginForm="ngForm">
       <ion-grid>
      <ion-row class="center" class="width">
    <ion-list class="center">
   <ion-col col-12>
   <ion-list>
    <ion-item>
      <ion-label><ion-icon name="person"></ion-icon></ion-label>
      <ion-select  placeholder="Select City Account" name="account" [(ngModel)]="feedback.account" formControlName="accountt" required>
        <ion-option *ngFor="let data of datas" value="{{data}}" >Account No:{{data}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="error" *ngIf="formgroup.controls.accountt.hasError('required') &&  formgroup.controls.accountt.touched">
      <p > Select Your Account Number.</p>
        </ion-item>

  </ion-list>
  </ion-col>
   <ion-col col-12>
   <ion-list>
    <ion-item>
      <ion-label><ion-icon name="person"></ion-icon></ion-label>
      <ion-select   placeholder="Select Feedback Type"  name="type" [(ngModel)]="feedback.type" formControlName="type" required>
        <ion-option value="genral Feedback">genral Feedback</ion-option>
        <ion-option value="Reset Treading Account Password">Reset Treading Account Password</ion-option>
        <ion-option value="Funding request">Funding request</ion-option>
        <ion-option value="Technical Problem">Technical Problem</ion-option>
        <ion-option value="Deactivate Trading">Deactivate Trading</ion-option>
        <ion-option value="special Request">special Request</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="error" *ngIf="formgroup.controls.type.hasError('required') &&  formgroup.controls.type.touched">
      <p >Selelct Your Feedback Type.</p>
        </ion-item>

  </ion-list>
  </ion-col>
  <ion-col col-12>
    <ion-item>
      <ion-label><ion-icon name="person"></ion-icon></ion-label>
      <ion-input type="text"  placeholder="Enter Your Name" name="name"  [(ngModel)]="feedback.name" formControlName="namee" required></ion-input>
    </ion-item>
    <ion-item class="error" *ngIf="formgroup.controls.namee.hasError('required') &&  formgroup.controls.namee.touched">
      <p >Enter Your Name.</p>
        </ion-item>

  </ion-col>
  <ion-col col-12>
    <ion-item>
      <ion-label><ion-icon ios="ios-mail-outline" md="md-mail"></ion-icon></ion-label>
      <ion-input type="text" placeholder="Your Email" name="email" [(ngModel)]="feedback.email" [readonly]="isReadonly()" formControlName="emaill" required></ion-input>
    </ion-item>
    <ion-item class="error"  *ngIf="formgroup.controls.emaill.hasError('required') &&  formgroup.controls.emaill.touched">
      <p >Enter Your Email-Id.</p>
        </ion-item>

  </ion-col>
  <ion-col col-12>
    <ion-item>
      <ion-label  class="gc-textarea"><ion-icon ios="ios-mail-outline" md="md-mail"></ion-icon></ion-label>
     <ion-textarea placeholder="Enter Your Massege" name="message"   [(ngModel)]="feedback.message" formControlName="message"  required  (ionChange)="allowedfun($event)"  ></ion-textarea> 
    </ion-item>
    <ion-item  class="error" *ngIf="fatch">
      <p >Enter Your Feedback Message</p>
        </ion-item>

        

    <!-- <ion-item  class="error" *ngIf="formgroup.controls.message.hasError('required') &&  formgroup.controls.message.touched"  >
      <p >Enter Your Feedback Message.</p>
        </ion-item> -->

  </ion-col>
    <ion-row class="center gc_mybtn">
      <ion-col col-12>
    <button ion-button color="Default" round class="my-btn"  type="submit" [disabled]="!loginForm.form.valid" >Submit</button>
  </ion-col>
  </ion-row>
  </ion-list>
  </ion-row> 
        </ion-grid>
      </form>
    </ion-card>
  </div>
  
  
  </ion-content>
  