page-internal-transger-request {
    .bkcolor{
        background: #264070;

  }
  .backicon{
    // width: 100%;
    // height: 50%;
    // font-size: 59px;
    color: white !important;
    margin-left: 0px;
   
}
.scroll-content {
    padding-bottom: 0px!important;
    margin-top: 0px!important;
}

.toolbar-ios {
     padding: 0px !important ; 
    /* padding-left: 4px; */
    /* padding-right: 4px; */
    /* min-height: 44px; */
}
.toolbar-md {
     padding: 0px; 
    min-height: 56px;
}
// .col-1{
//     padding: 5%;
// }
.div-1{
    padding-left:28% ;
     width:130% ;
      height:80%;

}
.center{
  text-align:center !important;
  align-self:center !important;
}
.button-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
   height: 0%;
}

  .div1-int{
        margin-top: 75px;
    }
    ion-card-header{
        background: #264070;
    
    }
    ion-icon {
    display: inline-block;
    font-size: 1.2em;
    color: #488aff;
    float: left;
}
.label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input {
    margin-left: 16px;
    width: calc(100% - (16px / 2) - 16px);
    letter-spacing: 2px;
}
span.button-inner {
    letter-spacing: 2px;
}
    .item-md,.item-ios {
    padding-left: 16px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid #e7e7e7 !important;
    border-radius: 51px !important;
}
ion-list.center.list.list-md {
    width: 100%;
}
ion-list.center.list.list-ios {
    width: 100%;
}
.text-input-md {
    margin: 13px 8px;
    padding: 0;
    width: calc(100% - 8px - 8px);
    letter-spacing:2px;
}
.button-round-md {
    border-radius: 64px;
    padding: 0 2.6rem;
    width: 100%;
}
.button-round-ios {
    border-radius: 64px;
    padding: 0 2.6rem;
    width: 100%;
}
.label-ios {
    margin: 11px 8px 11px 0;
    color: #488aff;
}
.card-md ion-list {
    margin-bottom: 0;
    width: 100% !important;
}
.list-md {
    width: 100% !important;
    margin: -1px 0 16px;
}
.list-ios {
    margin: -1px 0 10px;
    width: 100% !important;
}
    .center{
    text-align:center!important;
    align-self:center!important;
    }
    .h4{
        color: white;
        font-size: 2.4rem;
        // font-weight: bold;
    }
    ion-list.list.list-md {
    width: 100%;
   }
    ion-input.ion-input.input.input-md {
    border: 1px solid #e7e7e7;
    border-radius: 31px;
   }
 ion-item.item.item-block.item-ios.item-input {
    border: 1px solid #e7e7e7;
    width: 100%;
    border-radius: 38px;
}
.card-header-md {
    font-size: 1.6rem;
    color: #222;
    padding: 16px;
    text-align: center;
}
.card-header-ios {
    font-size: 1.6rem;
    font-weight: 500;
    color: #333;
    padding: 16px;
    text-align: center;
}
.toolbar-ios {
    padding: 0px;
    min-height: 56px;
    height: 63px;
}
.toolbar-md {
    padding: 0px;
    min-height: 56px;
    height: 63px;
}
img.imglogo {
    margin-top: 2px;
    width: 243px;
}
ion-buttons.bar-buttons.bar-buttons-md,.bar-buttons-ios {
    position: sticky;
    top: 0%;
    left: 0%;
    margin: 0 auto;
    text-align: center;
    align-self: center;
}
@media only screen and (min-width:524px) and (max-width:1080px){
 
 img.imglogo {
     margin-top: 2px;
     width: 245px;
 }
 .div1-int{
    margin-top: 75px;
}
    }
@media only screen and (min-width:768px) and (max-width:1024px){
    
ion-icon {
    display: inline-block;
    //font-size: 2.5em;
    color: #488aff!important;
    padding-left: 12px;
}
.button-ios {
    border-radius: 4px;
    height: 2.8em;
    font-size: 2.3rem;
    color: #fff;
    background-color: #488aff;
    margin: 0.4rem 0.2rem;
    padding: 0 1em;
    width: 100%;
    border-radius: 31px;
    float: left !important;
    letter-spacing: 2px;
    text-align: center;
}
ion-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
   width: 94%!important;
    }
    ion-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    max-width: 94%!important;
    text-align: center;
}
}
.scroll-content {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
    contain: size style layout;
}
}
