<ion-header>
    <ion-navbar class="bkcolor" >
      <ion-grid class="bkcolor">
        <ion-row>
          <ion-col col-1 class="col-1">
           
                <ion-buttons >
                    <button ion-button class="button-inner" (click)="homefun5()">
                      <ion-icon name="ios-arrow-round-back-outline" class="backicon"></ion-icon>
                    </button>
                  </ion-buttons>
                
          </ion-col>
  
   
         
          <ion-col col-10>
            <div class="center">
            <!-- <div class="div-1"> -->
              <img src="assets/imgs/newlogo2.png" class="imglogo"/>
            <!-- </div> -->
            </div>
          </ion-col>
        
        </ion-row>
      </ion-grid>
      
    </ion-navbar>
  </ion-header>

<ion-content padding>
<div class="div1-int">
  <ion-card>
    <ion-card-header >
      <h4 class="h4">Internal Transfer Request</h4>
      </ion-card-header>
      <form [formGroup]="formgroup" (ngSubmit)="internaltrasnferFun(fromaccount,toaccount,amount)" #internalform="ngForm">
     <ion-grid>
    <ion-row class="center" class="width">
  <ion-list class="center">
 <ion-col col-12>
  <ion-item class="border" >
    <ion-label> <ion-icon name="key"></ion-icon></ion-label>
    <ion-input type="number"  formControlName="fromaccount" placeholder="Enter From Account"  required [(ngModel)]="fromaccount" ></ion-input>
  </ion-item>
  <ion-item class="error" *ngIf="formgroup.controls.fromaccount.hasError('required') &&  formgroup.controls.fromaccount.touched">
<p style="color:red">Your Account Number Required.</p>
  </ion-item>
</ion-col>
<ion-col col-12>
  <ion-item>
    <ion-label> <ion-icon name="key"></ion-icon></ion-label>
    <ion-input type="number" formControlName="toaccount" [(ngModel)]="toaccount" placeholder="Enter To Account" required ></ion-input>
  </ion-item>
  <ion-item class="error" *ngIf="formgroup.controls.toaccount.hasError('required') && formgroup.controls.toaccount.touched">
    <p>User Account Number Required.</p>
      </ion-item>
</ion-col>
<ion-col col-12>
  <ion-item>
    <ion-label> <ion-icon name="logo-usd"></ion-icon></ion-label>
    <ion-input type="number"  formControlName="amount" [(ngModel)]="amount" placeholder="Transfer Amount" required ></ion-input>
  </ion-item>
  <ion-item class="error" *ngIf="formgroup.controls.amount.hasError('required') && formgroup.controls.amount.touched">
    <p>Amount in Number Required.</p>
      </ion-item>
</ion-col>
  <ion-row class="center gc_mybtn">
    <ion-col col-12>
  <button ion-button color="Default" type="submit" round class="my-btn" [disabled]="(!fromaccount || !toaccount || !amount)">Send Request</button>
</ion-col>
</ion-row>
</ion-list>
</ion-row>
</ion-grid>
</form>
</ion-card>
</div>
</ion-content>
