<ion-header>
    <ion-navbar class="bkcolor" >
      <ion-grid class="bkcolor">
        <ion-row>
          <ion-col col-1 class="col-1">
           
                <ion-buttons >
                    <button ion-button class="button-inner" (click)="homefun4()">
                      <ion-icon name="ios-arrow-round-back-outline" class="backicon"></ion-icon>
                    </button>
                  </ion-buttons>
                
          </ion-col>
  
   
         
          <ion-col col-10>
            <div class="center">
            <!-- <div class="div-1"> -->
              <img src="assets/imgs/newlogo2.png" class="imglogo"/>
            <!-- </div> -->
            </div>
          </ion-col>
        
        </ion-row>
      </ion-grid>
      
    </ion-navbar>
  </ion-header>

<ion-content padding>
    <form>
        <ion-grid>
       <ion-row class="center" class="width">
     <ion-list class="center">
    <ion-col col-12  (click)="depositfun()">
     <ion-item class="border"  >
       <ion-label><div class="imgdiv"><img src="assets/imgs/down.png"></div><span class="deposit">Deposit</span></ion-label>
       <ion-label></ion-label>     </ion-item>
   </ion-col>
   <ion-col col-12 (click)="withdrawalfun()">
     <ion-item class="border">
       <ion-label><div class="imgdiv"><img src="assets/imgs/up.png"></div><span class="deposit">Withdrawals</span></ion-label>
       <ion-label></ion-label>     </ion-item>
   </ion-col>
   </ion-list>
   </ion-row>
   </ion-grid>
   </form>
</ion-content>
