page-funding {
    .bkcolor{
        background: #264070;

  }
  .backicon{
    // width: 100%;
    // height: 50%;
    font-size: 59px;
    color: white !important;
    margin-left: 10px;
   
}

.toolbar-ios {
     padding: 0px !important ; 
    /* padding-left: 4px; */
    /* padding-right: 4px; */
    /* min-height: 44px; */
}
.toolbar-md {
     padding: 0px; 
    min-height: 56px;
}
// .col-1{
//     padding: 5%;
// }
.div-1{
    padding-left:28% ;
     width:130% ;
      height:80%;

}
.center{
  text-align:center !important;
  align-self:center !important;
}
.button-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
   height: 0%;
}


.toolbar-background-md {
    border-color: #b2b2b2;
    background: #264070;
}
.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
}
.toolbar-background-ios {
    background: #264070;
}
.toolbar-title-ios {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: #fff;
    pointer-events: auto;
}
 ion-card-header{
        background: #264070;
    
    }
    .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: #488aff;
}
.text-input-md {
    margin: 13px 22px;
    padding: 0;
    width: calc(100% - 8px - 8px);
    letter-spacing:2px;
}

   .item-md,.item-ios{
    padding-left: 16px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
   text-align:center;
    width: 100% !important;
    border: 1px solid #e7e7e7;
}

.list-md .item-input:last-child {
    border-bottom: 1px solid #e7e7e7;
}
.list-ios {
 
    width: 100%;
}

.select-md .select-placeholder {
    color: #999;
    max-width: 100%;
    float: left !important;
    text-align: left;
        letter-spacing: 2px;
    
}
.select-ios .select-placeholder {
    color: #999;
    max-width: 100%;
    float: left !important;
    text-align: left;
}
ion-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
   width: 100%!important;
    }
    ion-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    max-width:85%!important;
    text-align: center;
}
.select-ios {
    padding: 0px 8px 0px 0px;
    float: left !important;
}
.select-text {
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 16px;
    font-size: inherit;
    /* text-overflow: ellipsis; */
    white-space: nowrap;
    text-align: left;
}
.label-ios {
    margin: 0px 0px 0px 0;
}
.select-md {
    padding: 0px 10px 0px 0px;
}
.label-ios {
    margin: 0px 0px 0px 0;
    text-align: left;
}
.label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input {
    margin-left: 32px;
    width: calc(100% - (16px / 2) - 16px);
}
span.button-inner {
    letter-spacing: 2px;
}
.toolbar-background-md {
    border-color: rgba(0, 0, 0, 0.2);
    background: #264070;
    color: #ffffff;
}
.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #ffff;
    text-align: center;
}
ion-icon {
    display: inline-block;
    font-size: 1.2em;
    float: left;
}
.toolbar-background-ios {
    background: #264070;
}
.toolbar-title-ios {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: #fff;
  }
  .select-md .select-icon .select-icon-inner {
    left: 5px;
    top: 50%;
    margin-top: -3px;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: #488aff;
    pointer-events: none;
}
.select-ios .select-icon .select-icon-inner {
    left: 5px;
    top: 50%;
    margin-top: -2px;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: #488aff;
    pointer-events: none;
}
.item-md, page-funding .item-ios {
    padding-left: 0px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    width: 100% !important;
    border: 1px solid #e7e7e7;
}
.item-ios, page-funding .item-ios {
    padding-left: 0px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    width: 100% !important;
    border: 1px solid #e7e7e7;
}
.list-md {
    margin: -1px 0 16px;
    width: 100%;
}
.list-md .item-input:last-child {
    border-bottom: 1px solid #ccc;
    height: 72px;
}
.imgdiv
    {
    width: 100px;
    margin: 0px;
    padding: 0px;
    float: left;
    background-color: #F5F5F5;
    padding: 5px;
}
    .imgdiv img {
    width: 100%;
}
 span.deposit {
    padding: 0px 12px 0px 14px;
    text-align: center;
    /* margin-top: 39px !important; */
    position: absolute;
    font-weight: bold;
    font-size: 19px;
    color: #264070;
    letter-spacing: 1px;
    line-height: 100px;
}
ion-label {
    margin: 0;
    display: block;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}
.label-md {
   margin: 0px 0px 0px 0; 
   }
ion-item.border.item.item-block.item-ios {
    background-color: #f4f4f4;
    box-shadow: 2px 2px 10px #ccc;
    border: 1px solid #488aff;
}
.toolbar-ios {
    padding: 0px;
    min-height: 56px;
    height: 63px;
}
.toolbar-md {
    padding: 0px;
    min-height: 56px;
    height: 63px;
}
img.imglogo {
    margin-top: 2px;
    width: 243px;
}
span.button-inner {
    letter-spacing: 2px;
    color: white !important;
}
ion-buttons.bar-buttons.bar-buttons-md,.bar-buttons-ios {
    position: sticky;
    top: 0%;
    left: 0%;
    margin: 0 auto;
    text-align: center;
    align-self: center;
}
.scroll-content {
    padding: 8px 16px !important;
}

@media only screen and (min-width:524px) and (max-width:1080px){
 
 img.imglogo {
     margin-top: 2px;
     width: 245px;
 }
    }
@media only screen and (min-width:768px) and (max-width:1024px){
    .div1 {
    margin-top: 9px;
}
.backicon{
    // width: 100%;
    // height: 50%;
    font-size: 59px;
    color: white !important;
    margin-left: 0px !important; }
ion-icon {
    display: inline-block;
    font-size: 2.5em;
    float: left;
    color: #488aff!important;
    padding-left: 12px;
}
.button-ios {
    border-radius: 4px;
    height: 2.8em;
    font-size: 2.3rem;
    color: #fff;
    background-color: #488aff;
    margin: 0.4rem 0.2rem;
    padding: 0 1em;
    width: 100%;
    border-radius: 31px;
    float: left !important;
    letter-spacing: 2px;
    text-align: center;
}
ion-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 93%!important;
    }
    ion-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    max-width: 94%!important;
    text-align: center;
}
}
@media only screen and (min-width:768px){
   .select-ios {
    padding: 0px 10px 0px 26px;
}
}
@media only screen and (min-width:1024px){
   .select-ios {
    padding: 0px 10px 0px 14px;
}
}
}
