page-home {
    ion-item{
        padding: 0px;  
    }
    .div1{
        margin-top: 3%;
    }
    .div-1 {
    text-align: center !important;
}
img.imglogo {
     margin-top: 2px !important;
     width: 243px;
    //  float: right;
}
.div-1 {
   padding-left: 0%;
    width: 100%;
    height: 80%;
}
.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
    border-style: solid;
    border-color: #374f7b;
}
.toolbar-background-ios {
    background: #264070;
}
.toolbar-background-md {
    border-color: #b2b2b2;
    background: #264070;
}
.grid{
    padding:0px !important;
}
   
    .grid1 {
    padding: 0;
    // position: absolute;
    top:0px;
    left: 0px;
    }
    .col-1{
    padding:0px;

    }
    .col{
    padding:0px;
    }

    .row-1{
        height: 25%;display: table;
    }
    .person-img {
        padding: 10px;
        /* background-color: #427feb; */
        margin-bottom: 0px;
        // border-bottom: 1px solid #525252;
        width: 84%;
        height: auto;
        text-align: center;
        align-self: center;
        padding-right: 0px;
        margin-right: 0px;
        margin: 0 auto;
        padding-left: 0;
    }
     ion-thumbnail.person-img img {
        border: 3px solid #fff;
        border-radius: 50%;
        width: 100%;
        height: auto;
        margin-left: 0;
    }
.bg{
    background-color:#EBEBEB;
}

h4 {
    font-size: 1.5rem;margin: 0;
}
.heading {
    padding-left: 15px;
    margin-top: 0; 
   

}
.heading-PI {
    padding-left: 15px;
    margin-top: 0; 
   
}
.imgdiv {
    width: 70%;
    text-align: center;
    align-self: center;
    /* margin-right: 0px; */
    /* margin-left: 0px; */
    margin: auto;
    }
    [col-3] {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        width: 25%;
        max-width: 25%;
        background-color: #427feb;
        border-bottom: 2px solid #525252;
    }
    .blue-bg{
      display: table-cell;vertical-align: middle;background-color: #427feb;
      border-bottom: 2px solid #525252;
    } 
    .gc_table{display: table-cell;vertical-align: middle;}
    .col:first-child{padding-top: 0 !important;}
    @media only screen and (min-width:524px) and (max-width:1080px){
       
     img.imglogo {
        width: 245px;
        padding: 7px 0px;
     }
        }
    @media only screen and (min-width:768px) and (max-width:1138px){
       .heading {
            padding-left: 15px;
           
        }
        h4 {
            font-size: 2rem;
        }
        .heading-PI {
            padding-left: 15px;
           
        }
       .person-img {
            padding: 15px;
            /* background-color: #427feb; */
            margin-bottom: 0px;
            // border-bottom: 1px solid #525252;
            width: 60%;
            height: auto;
            text-align: center;
            -webkit-align-self: center;
            -ms-flex-item-align: center;
            align-self: center;
            padding-right: 0px;
            margin-right: 0px;
            margin: 0 auto;
            padding-left: 0;
        }
        .person-img img {
            border: 3px solid #fff;
            border-radius: 50%;
            width: 100%;
            height: auto;
            margin-left: 0;
        }
    }
    .fb{
        background-color: #3A589B;
    } 
    .fbicon {
        height: 56px;
       
    }
    .gcolor{
background-color: #F53E28;
    }
    .ticon{
        background-color: #18C4FF
    }
    .inicon{
        background-color: #007BB5
    }
    .notifocation{
        color: #A23D38;
        background-color: #FCD3D1;
        font-size: 1.8rem;
        padding: 15px;
    }

    .div1m{
        margin-top: -15px !important;
    margin-bottom: -10px;
    padding-top: 7px;
    padding-bottom: 7px;
    }
    
    .here{
        color:black ; 
        font-size:2rem;
    }
   
.md {
    // border: 1px solid #cccaca;
    // padding: 11px;
    }

    .notifocationn{
        color: rgb(23, 80, 23);
        background-color: rgb(160, 238, 190);
        font-size: 1.8rem;
        padding: 15px;
    }
    

.buttonmm {
    text-align: center;
}
    .buttonmm button.disable-hover.button.button-ios.button-default.button-default-ios {
        margin: 3px;
        padding: 0px 6px;
    }

    .buttonmm ion-label.label.label-ios {
        padding: 0px;
        margin: 0px;
        color: #000;
        font-weight: bold;
    }
    .buttonmm ion-icon.icon.icon-ios.ion-ios-copy {
        font-size: 30px;
        color: #488aff;
    }

    .imglogo{
        padding: 5px;
        
    }
    .button-inner {
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        height: 59px;
    }

    .iconimg{
        display: inline-block;
        font-size: 3.2em;
        // padding: 7px;
        color: #264070;
    }

    // ion-input#mm {
    //     border: 2px solid #264070;
    //     border-radius: 18px;
    //     height: 56px;
    //     text-align: center;
    //     padding: 4px;
    // }
    .text-input-md {
        // text-align: center;
        margin: 9px 1px;
        // padding: 0px;
        width: 101%;
    }

    .rowaffit{
        border-radius: 5px;
        border: 2px solid #264070;
    }
    .iconcol{
        
        padding: 14px;
    }
    ion-row.rowaffit.row {
        height: 63px;
    }

    ion-input#mm {
        margin: 4px 3px;
        height: 25px;
        width: 103%;
    }

        page-home ion-input#mm {
            margin: 4px 3px;
            height: 25px;
            width: 105%;
        }

        ion-col.iconcol.col {
            padding: 22px;
        }

        page-home .iconimg {
            display: inline-block;
            font-size: 3.2em;
            /* padding: 7px; */
            color: #264070;
        }

        .divlink{
            height: 115px;
        }
// .logoimg{
//     text-align: center !important;
//     margin-top: 2px;
//     width: 243px;
// }
// .logoutlogo{
  
// }
// .impdiv{
// height: 130px;
// }

.imglogoo {
    margin-top: 2px !important;
    width: 243px;
}

.logomm{
    margin-right: 4px;
    padding: 0px;
}
.logoimgmm{
    width: 100%;
    height: 63%;
    font-weight: bold;
    margin-right: 21px;
}
}
