<ion-header>
  <ion-navbar class="bkcolor" >
    <ion-grid class="bkcolor">
      <ion-row>
    
        <ion-col col-1 class="logoutlogo">
         
          <ion-buttons >
              <!-- <button ion-button class="button-inner" (click)="logout()">
                <img src="assets/imgs/logout.png" class="backicon"/>
              </button> -->
            </ion-buttons>
          
    </ion-col>
 
 
    <ion-col col-10>
      <div class="center">
      <!-- <div class="div-1"> -->
        <img src="assets/imgs/newlogo2.png" class="imglogoo"/>
      <!-- </div> -->
      </div>
    </ion-col>
     

    <ion-col col-1 class="col-1">
           
      <ion-buttons >
          <button ion-button class="logomm" (click)="logout()">
            <img src="assets/imgs/logout.png" class="logoimgmm"/>
          </button>
        </ion-buttons>
      
</ion-col>
      
      </ion-row>
    </ion-grid>
    
  </ion-navbar>
</ion-header>


      <ion-content >
      
          <div *ngIf="user_type=='user'">
        <ion-list >
            <div class="div1m"    *ngIf="document_verify ==0" >
                <h3 class="notifocation"   >Your Account is Univerifie. Please Upload your KVC Document From <span class="here" (click)="documentfun()">Here</span></h3>
                </div>
                <div class="div1m"    *ngIf="document_verify ==1" >
                  <h3 class="notifocationn"  > Your Account is Verified.</h3>
                  </div>

             <ion-grid class="grid1">
       
               <ion-row class="row-1" (click)="callpage1()" >
                 <ion-col col-3 class="blue-bg">
                  <ion-thumbnail item-start class="person-img">
                         <img src="assets/imgs/personal-info.png">
                       </ion-thumbnail>
                      </ion-col>
                    <ion-col col-9 class="gc_table">
                   <div class="heading-PI">
                     <h4>Personal Information</h4>
                   </div>
                 </ion-col>
               </ion-row>
       
               <ion-row class="row-1" (click)="callpage2()" >
                  <ion-col col-3  class="blue-bg">
                      <ion-thumbnail item-start  class="person-img">
                           <img src="assets/imgs/wallt.png" class="img1">
                         </ion-thumbnail>
                        </ion-col>
                  <ion-col col-9 class="bg gc_table">
                     <div class="heading">
                       <h4>Funding</h4>
                     </div>
                   </ion-col>
                 </ion-row>
       
                 <ion-row class="row-1" (click)="callpage3()" >
                 <ion-col col-3  class="blue-bg">
                  <ion-thumbnail item-start  class="person-img">
                           <img src="assets/imgs/send.png" class="img1">
                         </ion-thumbnail>
                        </ion-col>
                <ion-col col-9 class="gc_table">
                     <div class="heading">
                       <h4>Send Feedback</h4>
                     </div>
                   </ion-col>
                 </ion-row>
       
                <ion-row class="row-1" (click)="callpage4()" >
                 <ion-col col-3 class="blue-bg">
                <ion-thumbnail item-start  class="person-img">
                           <img src="assets/imgs/dolla.png" class="img1">
                         </ion-thumbnail>
                        </ion-col>
                <ion-col col-9 class="bg gc_table">
                     <div class="heading">
                       <h4>Change Password</h4>
                     </div>
                   </ion-col>
                 </ion-row>
       
                 <ion-row class="row-1" (click)="callpage5()">
                 <ion-col col-3  class="blue-bg">
                   <ion-thumbnail item-start  class="person-img">
                           <img src="assets/imgs/phone.png" class="img1">
                         </ion-thumbnail>
                         </ion-col>
                 <ion-col col-9 class="gc_table">
                     <div class="heading">
                       <h4>Call Back</h4>
                     </div>
                   </ion-col>
                 </ion-row>
       
              <ion-row class="row-1"  (click)="callpage6()">
                 <ion-col col-3 class="blue-bg">
                  <ion-thumbnail item-start  class="person-img">
                           <img src="assets/imgs/folder.png" class="img1">
                         </ion-thumbnail>
                        </ion-col>
                 <ion-col col-9 class="bg gc_table">
                     <div class="heading">
                       <h4>Account Information</h4>
                     </div>
                   </ion-col>
                 </ion-row>
       
                <ion-row class="row-1"  (click)="callpage7()">
                 <ion-col col-3 class="blue-bg">
                <ion-thumbnail item-start  class="person-img">
                           <img src="assets/imgs/transfer.png" class="img1">
                         </ion-thumbnail>
                        </ion-col>
                 <ion-col col-9 class="gc_table">
                     <div class="heading">
                       <h4>Internal Transfer Request </h4>
                     </div>
                   </ion-col>
                 </ion-row>
       
                 <ion-row class="row-1"  (click)="callpage8()" >
                   <ion-col col-3 class="blue-bg">
                 <ion-thumbnail item-start  class="person-img">
                             <img src="assets/imgs/add-user.png" class="img1">
                           </ion-thumbnail>
                          </ion-col>
                    <ion-col col-9 class="bg gc_table">
                       <div class="heading">
                         <h4>Request New Account  </h4>
                        </div>
                     </ion-col>
                  </ion-row>
       <div>
                   <ion-row class="row-1"   (click)="callpage9()">
                     <ion-col col-3 class="blue-bg">
                       <ion-thumbnail item-start  class="person-img">
                               <img src="assets/imgs/cloud-computing.png" class="img1">
                             </ion-thumbnail>
                            </ion-col>
                     <ion-col col-9 class="gc_table">
                         <div class="heading">
                           <h4>Download Files </h4>
                         </div>
                       </ion-col>
                     </ion-row>
                    </div>
              </ion-grid>
             </ion-list>
            </div>
<!-- Partner Home Page -->
<div *ngIf="user_type=='agent'">
             <ion-list >
                <div class="div1m"    *ngIf="document_verify ==0" >
                    <h3 class="notifocation"   >Your Account is Unverified.Please Upload your KVC document from <span class="here" (click)="documentfun()">Here</span></h3>
                    </div>
                    <div class="div1m"    *ngIf="document_verify ==1" >
                      <h3 class="notifocationn"   > Your Account is Verified.</h3>
                      </div>
              <ion-grid class="grid1">
        
                <ion-row class="row-1" (click)="callpage11()" >
                  <ion-col col-3 class="blue-bg">
                   <ion-thumbnail item-start class="person-img">
                          <img src="assets/imgs/personal-info.png">
                        </ion-thumbnail>
                       </ion-col>
                     <ion-col col-9 class="gc_table">
                    <div class="heading-PI">
                      <h4>Personal Information</h4>
                    </div>
                  </ion-col>
                </ion-row>
        
                <ion-row class="row-1" (click)="callpage2()" >
                   <ion-col col-3  class="blue-bg">
                       <ion-thumbnail item-start  class="person-img">
                            <img src="assets/imgs/wallt.png" class="img1">
                          </ion-thumbnail>
                         </ion-col>
                   <ion-col col-9 class="bg gc_table">
                      <div class="heading">
                        <h4>Funding</h4>
                      </div>
                    </ion-col>
                  </ion-row>
        
                  <ion-row class="row-1" (click)="callpage3()" >
                  <ion-col col-3  class="blue-bg">
                   <ion-thumbnail item-start  class="person-img">
                            <img src="assets/imgs/send.png" class="img1">
                          </ion-thumbnail>
                         </ion-col>
                 <ion-col col-9 class="gc_table">
                      <div class="heading">
                        <h4>Send Feedback</h4>
                      </div>
                    </ion-col>
                  </ion-row>
        
                 <ion-row class="row-1" (click)="callpage4()" >
                  <ion-col col-3 class="blue-bg">
                 <ion-thumbnail item-start  class="person-img">
                            <img src="assets/imgs/dolla.png" class="img1">
                          </ion-thumbnail>
                         </ion-col>
                 <ion-col col-9 class="bg gc_table">
                      <div class="heading">
                        <h4>Change Password</h4>
                      </div>
                    </ion-col>
                  </ion-row>
        
        
             
                 <ion-row class="row-1"  (click)="callpage7()">
                  <ion-col col-3 class="blue-bg">
                 <ion-thumbnail item-start  class="person-img">
                            <img src="assets/imgs/transfer.png" class="img1">
                          </ion-thumbnail>
                         </ion-col>
                  <ion-col col-9 class="gc_table">
                      <div class="heading">
                        <h4>Internal Transfer Request </h4>
                      </div>
                    </ion-col>
                  </ion-row>
 
                  <ion-row class="row-1" (click)="callpage0()" >
                   <ion-col col-3 class="blue-bg">
                  <ion-thumbnail item-start  class="person-img">
                                <img src="assets/imgs/ico-clients02.png" class="img1">
                           </ion-thumbnail>
                          </ion-col>
                  <ion-col col-9 class="bg gc_table">
                       <div class="heading">
                         <h4> My Clients</h4>
                       </div>
                     </ion-col>
                   </ion-row>
                   <div class="impdiv">
                   <ion-row class="rowaffit"  >
          
                    <ion-col col-10 >
                         <div class="divlink">
                           <ion-input class="md" id="mm" [readonly]="isReadonly()" type="test"  value="{{mm}}"></ion-input>
                         </div>
                   <!-- <div  (click)="ngIfCtrl()" class="buttonmm">
                       <ion-icon   name="copy"></ion-icon>
                       <ion-label>Copy Link</ion-label>
                           <button ion-button  (ionChange)="datafun()"  (click)="ngIfCtrl()"> Copy Link</button>
                         </div> -->
                       </ion-col>
                       <ion-col col-2 (click)="ngIfCtrl()" class="iconcol">
                        <ion-icon name="copy" class="iconimg"></ion-icon>
                       </ion-col>

                  
                     </ion-row>
                    </div>
                
               </ion-grid>
              </ion-list>
            </div>

<!-- affiliate page -->

            <div *ngIf="user_type=='affiliate'">
              <ion-list >
                <ion-grid class="grid1">
          
                  <ion-row class="row-1" (click)="callpageFun()" >
                    <ion-col col-3 class="blue-bg">
                     <ion-thumbnail item-start class="person-img">
                            <img src="assets/imgs/personal-info.png">
                          </ion-thumbnail>
                         </ion-col>
                       <ion-col col-9 class=" bg gc_table">
                      <div class="heading-PI">
                        <h4>Personal Information</h4>
                      </div>
                    </ion-col>
                  </ion-row>
          
          
                    <ion-row class="row-1" (click)="trackFun()" >
                    <ion-col col-3  class="blue-bg">
                     <ion-thumbnail item-start  class="person-img">
                              <img src="assets/imgs/send.png" class="img1">
                            </ion-thumbnail>
                           </ion-col>
                   <ion-col col-9 class="gc_table">
                        <div class="heading">
                          <h4>Track Affiliate</h4>
                        </div>
                      </ion-col>
                     </ion-row>
                     
                     <ion-row class="row-1" (click)="AffiliateMyClient()" >
                        <ion-col col-3 class="blue-bg">
                       <ion-thumbnail item-start  class="person-img">
                                     <img src="assets/imgs/ico-clients02.png" class="img1">
                                </ion-thumbnail>
                               </ion-col>
                       <ion-col col-9 class="bg gc_table">
                            <div class="heading">
                              <h4> My Clients</h4>
                            </div>
                          </ion-col>
                        </ion-row>

<div class="impdiv">
                        <ion-row class="rowaffit"  >
              
                            <ion-col col-10 >
                                 <div class="divlink">
                                   <ion-input class="md" id="mm" [readonly]="isReadonly()" type="test"  value="{{mm}}"></ion-input>
                                 </div>
                           <!-- <div  (click)="ngIfCtrl()" class="buttonmm">
                               <ion-icon   name="copy"></ion-icon>
                               <ion-label>Copy Link</ion-label>
                                   <button ion-button  (ionChange)="datafun()"  (click)="ngIfCtrl()"> Copy Link</button>
                                 </div> -->
                               </ion-col>
                               <ion-col col-2 (click)="ngIfCtrl()" class="iconcol">
                                <ion-icon name="copy" (ionChange)="datafun()" class="iconimg"></ion-icon>
                               </ion-col>

                          
                             </ion-row>
                            </div>  
                 </ion-grid>
                </ion-list>
             </div>
             
  <ion-fab right bottom>
    <button ion-fab ><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">

        <a href="https://www.facebook.com/pages/Uniglobe-Markets/857318201000617">
      <button class="fb" ion-fab >
        <div class="fbicon">
           

          <img  src="assets/imgs/facebook.png">
        </div>
      </button>
    </a>


    <a href="https://twitter.com/uniglobemarkets">
      <button ion-fab  class="ticon">
          <div  class="fbicon" >
            <img  src="assets/imgs/twitter.png">
          </div>
        </button>
        </a>

        <a href="https://plus.google.com/+UniglobeMarkets">
      <button ion-fab class="gcolor">
        <div class="fbicon">
          <img  src="assets/imgs/G+.png">
        </div>
     </button>
     </a>
      
     <a href="https://www.linkedin.com/company/uniglobe-markets">
      <button ion-fab class="inicon">
        <div  class="fbicon">
          <img  src="assets/imgs/in.png">
        </div>
      </button>
      </a>


    </ion-fab-list>
  </ion-fab>

</ion-content>
