<ion-header>
    <ion-navbar class="bkcolor" >
      <ion-grid class="bkcolor">
        <ion-row>
          <ion-col col-1 class="col-1">
           <ion-buttons >
              <button ion-button class="button-inner" (click)="homefun11()">
                 <ion-icon name="ios-arrow-round-back-outline" class="backicon"></ion-icon>
                    </button>
                  </ion-buttons>
              </ion-col>
           <ion-col col-10>
         <div class="center">
            <!-- <div class="div-1"> -->
      <img src="assets/imgs/newlogo2.png" class="imglogo"/>
            <!-- </div> -->
            </div>
          </ion-col>
        
        </ion-row>
      </ion-grid>
      
    </ion-navbar>
  </ion-header>


<ion-content padding>
    <div class="top">
        <ion-grid>
            <ion-row class="data" >
                <div class="top-heading">
                  <h1>Deposit</h1>
                </div>
                 </ion-row>
          <ion-row class="center" class="width">
          <ion-col col-3 class="divimg"  *ngFor="let data of datas"  (click)="imgMainfun(data.name)">
          
           <!-- <img src="http://192.168.1.202/projects/uniglobalmarket/backoffice/upload/icon/{{data.icon}}" > -->
           <img src="https://uniglobemarkets.com/unibeta/backoffice/upload/icon/{{data.icon}}" >
           <!-- <img src="{{urllink}}{{data.icon}}" > -->

          </ion-col>
        
          </ion-row>

            
      <div class="card">
        <div class="trans">
          <h2>Transaction History</h2>
        </div>
     <ion-row class="center" class="width">
     
      
         <ion-col col-12 class="left">
   
        <ion-searchbar placeholder="Search" (ionInput)="onSearchInput($event)"  [(ngModel)]="myInput" 
        [showCancelButton]="shouldShowCancel" (ionCancel)="onSearchCancel($event)">
       </ion-searchbar>
        </ion-col>   
    	
    </ion-row>

     
      <ion-row>
        <ion-col col-12>
       
          <table style="width:100%" class="table-responsive"  >
        <tr>
          <th>Username</th>
          <th>Transaction ID</th> 
          <th>Amount</th>
           <th>Payment Date</th>
            <th>Payment type</th>
             <th>Status</th>
        </tr>
        <tr *ngFor="let item of topics ; let i=index"   >
            <td>{{item.user_name}}</td>
            <td>{{item.merchantRefId}}</td>
            <td>{{item.amount}} {{item.currency}}</td>
            <td>{{item.paymentdate}}</td>
            <td>{{item.paytype}}</td>
            <td>{{item.status}}</td>
        
        </tr>
     
      </table>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content  loadingSpinner="bubbles"
        distance="1%"
        loadingText="Loading more data..."></ion-infinite-scroll-content>
      </ion-infinite-scroll>
        </ion-col>
 
    </ion-row>
 
  </div>
   </ion-grid>
    </div>
     
      
</ion-content>
