page-deposit {
     .left{
     float:left;
     }
     .card {
    margin-top: 18px;margin-bottom: 10px;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 5px 7px 7px #f1f1f1;
}
.searchbar-md .searchbar-input {
    padding: 6px 40px;
    border-radius: 2px;
    background-position: left 8px center;
    height: auto;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    color: #141414;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.trans {
    background-color: #264070;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 2px;
}
img.imglogo{width:243px; }
    .toolbar-background-md {
        border-color: #b2b2b2;
        background: #264070;
        color: #ffff;
        text-align: center;
    }
    .toolbar-background-ios {
        background: #264070;
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #ffffff;
        text-align: center;
    }
    .toolbar-title-ios {
        text-align: center;
        font-size: 1.7rem;
        font-weight: 600;
        color: #fff;
        pointer-events: auto;
    }
    .divimg {
        width: 100%;
      
        // height: 100%;
        //*text-align: center;*//
        box-shadow: 2px 2px 10px #ccc;
    }
    .divimg img {
        width: 100%;
    }
    .button-round-md ,.button-round-ios {
        border-radius: 0px;
        padding: 0 2.6rem;
        width: 100%;
        background-color: #264070;
    }
    span.button-inner {
        letter-spacing: 2px;
    }
    
    .item-ios {
        padding-left: 0px;
        padding-left: 16px;
        border-radius: 0;
        position: relative;
        font-size: 1.7rem;
        color: #000;
        background-color: #fff;
        -webkit-transition: background-color 200ms linear;
        transition: background-color 200ms linear;
        width: 21%;
    }
    
    .item-md {
        /* padding-left: 16px; */
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        width: 100%;
    }
    .select-md {
        padding: 0px 15px 0px 0px;
    }
    .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
        color: #999;
        font-size: 12px;
    }
    .label-md {
        margin: 0px 0px 0px 0;
    }
     span.button-inner {
        letter-spacing: 2px;
    
    }
    .text-input-md {
        margin: 0px 8px;
        padding: 5px;
        width: calc(100% - 8px - 8px);
        border: 1px solid #ccc;
        /* height: 16px; */
    }
    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 1px solid transparent; 
    
    }
    .select-md .select-icon {
        position: relative;
        width: 0px;
        height: 19px;
    }
    .select-ios .select-icon {
    position: relative;
    width: 0px;
    height: 18px;
}
    .item-ios {
        padding-left: 0px;
        padding-left: 0px;
        border-radius: 0;
        position: relative;
        font-size: 1.7rem;
        color: #000;
        background-color: #fff;
        -webkit-transition: background-color 200ms linear;
        transition: background-color 200ms linear;
        width: 100%;
    }
    .text-input-ios {
        margin: 0px 8px;
        padding: 5px;
        width: calc(100% - 8px - 8px);
        border: 1px solid #ccc;
        /* height: 16px; */
    }
    .label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input {
       
        border: 1px solid #ccc;
        padding: 5px;
    }
    .item-ios.item-block .item-inner {
        padding-right: 8px;
        padding-right: 8px; 
       border-bottom: 0.55px solid transparent; 
    }
    .label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input {
       margin-left: 0px;
       width:100%;
    }
    .select-ios {
    padding: 0px 18px 0px 0px;
}
    .label-ios {
        margin: 0px 0px 0px 0px;
    }
    .item-input .label-ios, .item-select .label-ios, .item-datetime .label-ios {
        color: #999;
        font-size: 14px;
    }
    table, th, td {
        border: 1px solid #ccc;
        border-collapse: collapse;
    }
     th, td {
        border: 1px solid #ccc;
        border-collapse: collapse;
        padding:10px;
    }
    table {
            display: inline-block;
            overflow-x: auto;
            white-space: nowrap;
        }
       
    .searchbar-md {
    background: inherit;
    padding: 0px; 
}
.searchbar-ios {
    padding: 0 8px;
    min-height: 44px;
    border-top: 0.55px solid transparent;
    border-bottom: 0.55px solid rgba(0, 0, 0, 0.05);
    background: transparent;
    border: 1px solid #ccc;
}
//*ion-row.main-contain.row {
    width: 100%;
    float: left;
    text-align: center !important;
    align-self: center !important;
}*//
.divimg {
    width: 100%;
    -webkit-box-shadow: 2px 2px 10px #ccc;
    box-shadow: 2px 2px 10px #ccc;
    float: left;
}
  .bkcolor{
        background: #264070;

  }
  .backicon {
    font-size: 59px;
    color: white;
    margin-left: 10px;
    float: left;

}

.toolbar-ios {
     padding: 0px !important ; 
    /* padding-left: 4px; */
    /* padding-right: 4px; */
    /* min-height: 44px; */
}
.toolbar-md {
     padding: 0px; 
    min-height: 56px;
}
// .col-1{
//     padding: 5%;
// }
.div-1{
    padding-left:28% ;
     width:130% ;
      height:80%;

}
.center{
  text-align:center !important;
  align-self:center !important;
}
.button-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
   height: 0%;
}
.toolbar-ios {
    padding: 0px;
    min-height: 56px;
    height: 63px;
}
.toolbar-md {
    padding: 0px;
    min-height: 56px;
    height: 63px;
}
img.imglogo {
    margin-top: 2px;
    width: 243px;
}
ion-app.md [padding] .scroll-content {
    padding: 16px;
   
}
.top-heading {
    width: 100%;
    text-align: center;
    background-color: #264070;
    color: #fff;
    padding-top: 7px;
}
ion-buttons.bar-buttons.bar-buttons-md,.bar-buttons-ios {
    position: sticky;
    top: 0%;
    left: 0%;
    margin: 0 auto;
    text-align: center;
    align-self: center;
}
.top {
    margin-top:9px;
}
.grid{padding:0 5px;}
.searchbar-input-container{margin-top: 10px;}

@media only screen and (min-width:524px) and (max-width:1080px){
 
 img.imglogo {
     margin-top: 2px;
     width: 245px;
 }
    }
@media only screen and (min-width:768px) and (max-width:1030px){
    ion-grid.grid {
        padding-left: 14px;
        padding-right: 14px;
    }
    .backicon {
        font-size: 59px;
        color: white;
        margin-left: 22px;
        float: right;
    }
   th,  td{font-size: 12px !important;padding: 10px 5px !important;}
}
 @media only screen and (min-width:524px) and (max-width:1080px){
       table {
        display: inline-table;
        overflow-x: auto;
        white-space: nowrap;
    }
       }
@media only screen and (min-width:676px) and (max-width:1080px){
       table {
        display: inline-table !important;
        overflow-x: auto;
        white-space: nowrap;
    }
.data {
        width: 100%;
        background-color: #264070;
        text-align: center;
        color: white;
    }

    
       }
