<ion-header>
  <ion-navbar class="bkcolor" >
    <ion-grid class="bkcolor">
      <ion-row>
        <ion-col col-1 class="col-1">
         
              <ion-buttons (click)="homefun17()">
                  <button ion-button class="button-inner">
                    <ion-icon name="ios-arrow-round-back-outline" class="backicon" ></ion-icon>
                  </button>
                </ion-buttons>
              
        </ion-col>

 
       
        <ion-col col-10>
          <div class="center">
          <!-- <div class="div-1"> -->
            <img src="assets/imgs/newlogo2.png" class="imglogo"/>
          <!-- </div> -->
          </div>
        </ion-col>
      
      </ion-row>
    </ion-grid>
    
    
  </ion-navbar>
</ion-header>

<ion-content padding>
<div class="div1">
  <ion-card>
    <ion-card-header  class="center">
      <h4 class="h4">Card Withdrawal</h4>
      </ion-card-header>
      <form [formGroup]="formgroup" (ngSubmit)="VisaWithdrawalFun(account,Name,AccNumber,AmountWith,IBAN,swift,ifsc,BankName,BankAdd,ExtraInfo)" #loginForm="ngForm">
     <ion-grid>
    <ion-row class="center" class="width">
  <ion-list class="center">
 <ion-col col-12>
 <ion-list>
  <ion-item>
    <ion-label class="width301"><ion-icon name="list-box"></ion-icon></ion-label>
    <ion-select   placeholder="Trading Account Number" name="account" [(ngModel)]="account" formControlName="account" required >
      <ion-option *ngFor="let data of datas" value="{{data}}" >Account No:{{data}}</ion-option> 
    </ion-select>
  </ion-item>
  <ion-item class="error" *ngIf="formgroup.controls.account.hasError('required') &&  formgroup.controls.account.touched">
      <p >Selelct Account Number.</p>
        </ion-item>
        
</ion-list>
</ion-col>
<ion-col col-12>
  <ion-item>
    <ion-label> <ion-icon name="cash"></ion-icon></ion-label>
    <ion-input type="number" placeholder="Amount"  name="AmountWith" [(ngModel)]="AmountWith" formControlName="AmountWith" required></ion-input>
  </ion-item>
  <ion-item class="error" *ngIf="formgroup.controls.AmountWith.hasError('required') &&  formgroup.controls.AmountWith.touched">
      <p >Enter Your Account.</p>
        </ion-item>

</ion-col>
<ion-col col-12>
  <ion-item>
    <ion-label><ion-icon name="person"></ion-icon></ion-label>
    <ion-input type="text" name="Name" [(ngModel)]="Name" placeholder="Name Of Account Holder" formControlName="Name" required></ion-input>
  </ion-item>
  <ion-item class="error" *ngIf="formgroup.controls.Name.hasError('required') &&  formgroup.controls.Name.touched">
      <p >Enter Account Holder Name.</p>
        </ion-item>
</ion-col>
<ion-col col-12>
  <ion-item>
    <ion-label><ion-icon name="list-box"></ion-icon></ion-label>
    <ion-input type="number" name="AccNumber" [(ngModel)]="AccNumber" placeholder="Bank Account Number" formControlName="AccNumber" required></ion-input>
  </ion-item>
  <ion-item class="error" *ngIf="formgroup.controls.AccNumber.hasError('required') &&  formgroup.controls.AccNumber.touched">
      <p >Enter Bank Account Number.</p>
        </ion-item>

</ion-col>
<ion-col col-12>
  <ion-item>
    <ion-label><ion-icon name="list-box"></ion-icon></ion-label>
    <ion-input type="text" name="IBAN" [(ngModel)]="IBAN" placeholder="IBAN" formControlName="IBAN" ></ion-input>
  </ion-item>
  <ion-item class="error" *ngIf="formgroup.controls.IBAN.hasError('required') &&  formgroup.controls.IBAN.touched">
      <p >Please Enter IBAN.</p>
        </ion-item>

</ion-col>
<ion-col col-12>
  <ion-item>
    <ion-label><ion-icon name="list-box"></ion-icon></ion-label>
    <ion-input type="text" name="swift" [(ngModel)]="swift" placeholder="Swift" formControlName="swift" ></ion-input>
  </ion-item>
  <ion-item class="error" *ngIf="formgroup.controls.swift.hasError('required') &&  formgroup.controls.swift.touched">
      <p >Enter Swift.</p>
        </ion-item>

</ion-col>
<ion-col col-12>
  <ion-item>
    <ion-label><ion-icon name="list-box"></ion-icon></ion-label>
    <ion-input type="text" name="ifsc" [(ngModel)]="ifsc" placeholder="IFSC Code" formControlName="ifsc" ></ion-input>
  </ion-item>
  <ion-item class="error" *ngIf="formgroup.controls.ifsc.hasError('required') &&  formgroup.controls.ifsc.touched">
      <p >Enter IFSC.</p>
        </ion-item>

</ion-col>
<ion-col col-12>
  <ion-item>
    <ion-label><ion-icon name="list-box"></ion-icon></ion-label>
    <ion-input type="text" name="BankName" [(ngModel)]="BankName" placeholder="Bank Name" formControlName="BankName" required></ion-input>
  </ion-item>
  <ion-item class="error" *ngIf="formgroup.controls.BankName.hasError('required') &&  formgroup.controls.BankName.touched">
      <p >Enter Your Bank Name.</p>
        </ion-item>
       
</ion-col>
<ion-col col-12>
  <ion-item>
    <ion-label> <ion-icon name="pin"></ion-icon></ion-label>
    <ion-input type="text" name="BankAdd" [(ngModel)]="BankAdd" placeholder="Bank Address" formControlName="BankAdd" required></ion-input>
  </ion-item>
  <ion-item class="error" *ngIf="formgroup.controls.BankAdd.hasError('required') &&  formgroup.controls.BankAdd.touched">
      <p >Enter Your Bank Address.</p>
        </ion-item>

</ion-col>
<ion-col col-12>
  <ion-item>
    <ion-label><ion-icon name="list-box"></ion-icon></ion-label>
   <ion-textarea name="ExtraInfo" [(ngModel)]="ExtraInfo" placeholder="Extra Information" (keypress)="onKeyPress($event)" formControlName="ExtraInfo" ></ion-textarea> 
  </ion-item>
  <ion-item class="error" *ngIf="formgroup.controls.ExtraInfo.hasError('required') &&  formgroup.controls.ExtraInfo.touched">
      <p >Enter Your EXtra Information.</p>
        </ion-item>

</ion-col>
  <ion-row class="center gc_mybtn">
    <ion-col col-12>
  <button ion-button color="Default" round class="my-btn" type="submit"  [disabled]="!loginForm.form.valid">Submit</button>
</ion-col>
</ion-row>
</ion-list>
</ion-row> 
      </ion-grid>
    </form>
  </ion-card>
</div>


</ion-content>
