<ion-header>
    <ion-navbar class="bkcolor" >
      <ion-grid class="bkcolor">
        <ion-row>
          <ion-col col-1 class="col-1">
           
                <ion-buttons >
                    <button ion-button class="button-inner" (click)="homefun2()">
                      <ion-icon name="ios-arrow-round-back-outline" class="backicon"></ion-icon>
                    </button>
                  </ion-buttons>
                
          </ion-col>
 
          <ion-col col-10>
            <div class="center">
            <!-- <div class="div-1"> -->
              <img src="assets/imgs/newlogo2.png" class="imglogo"/>
            <!-- </div> -->
            </div>
          </ion-col>
        
        </ion-row>
      </ion-grid>
      
    </ion-navbar>
  </ion-header>




  <ion-content padding>
   
  <div class="div1-chp">
    <ion-card>
      <ion-card-header >
        <h4 class="h4">Change Password</h4>
        </ion-card-header>
        <form [formGroup]="formgroup" (ngSubmit)="passwordfun()"  #loginForm="ngForm">
       <ion-grid>
      <ion-row class="center" class="width">
    <ion-list class="center">
   <ion-col col-12>
    <ion-item>
      <ion-label><ion-icon name="lock"></ion-icon></ion-label>
      <ion-input type="text" value="" placeholder="Enter Old Password" formControlName="oldPassword" name="oldpassword" [(ngModel)]="passWords.oldPassword" required></ion-input>
    </ion-item>
    <ion-item class="error" *ngIf="formgroup.controls.oldPassword.hasError('required') &&  formgroup.controls.oldPassword.touched">
      <p >Enter Your Old Password.</p>
        </ion-item>

  </ion-col>
  <ion-col col-12>
    <ion-item>
      <ion-label><ion-icon name="lock"></ion-icon></ion-label>
      <ion-input type="text" value="" placeholder="Enter New Password" formControlName="newPassword" name="newpassword" [(ngModel)]="passWords.newPassword" required></ion-input>
    </ion-item>
    <ion-item class="error" *ngIf="formgroup.controls.newPassword.hasError('required') &&  formgroup.controls.newPassword.touched">
      <p >Enter Your New Password.</p>
        </ion-item>

  </ion-col>
  <ion-col col-12>
    <ion-item>
      <ion-label><ion-icon name="lock"></ion-icon></ion-label>
      <ion-input type="text" value="" placeholder="Enter Confirm Password" formControlName="confirmPassword" name="confirmpassword" [(ngModel)]="passWords.confirmPassword" required></ion-input>
    </ion-item>
    <ion-item class="error" *ngIf="formgroup.controls.confirmPassword.hasError('required') &&  formgroup.controls.confirmPassword.touched">
      <p >Enter Your Confirm Password.</p>
        </ion-item>

  </ion-col>
    <ion-row class="center gc_mybtn">
      <ion-col col-12>
    <button ion-button color="Default" round class="my-btn" type="submit" [disabled]="!loginForm.form.valid">Submit</button>
  </ion-col>
  </ion-row>
  </ion-list>
  </ion-row>
  </ion-grid>
  </form>
  </ion-card>
  </div>

  </ion-content>
  
