page-change-password {
    .bkcolor{
        background: #264070;

  }
  .backicon{
    // width: 100%;
    // height: 50%;
    // font-size: 59px;
    color: white !important;
    margin-left: 0px;
   
}
.scroll-content {
    padding-bottom: 0px!important;
    margin-top: 0px!important;
}
.toolbar-ios {
     padding: 0px !important ; 
    /* padding-left: 4px; */
    /* padding-right: 4px; */
    /* min-height: 44px; */
}
.toolbar-md {
     padding: 0px; 
    min-height: 56px;
}
// .col-1{
//     padding: 5%;
// }
.div-1{
    padding-left:28% ;
     width:130% ;
      height:80%;

}
.center{
  text-align:center !important;
  align-self:center !important;
}
.button-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
   height: 0%;
}
ion-icon {
    display: inline-block;
    font-size: 1.2em;
    float: left;

}

.div1-chp{
    margin-top: 75px;
}
ion-card-header{
    background: #264070;

}
.gc_mybtn ion-col.col:first-child{padding-top: 0 !important;padding-bottom: 10px !important;}
.my-btn{margin: 0;}
.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
color: #488aff;
}
.text-input-md {
margin: 13px 8px;
padding: 0;
width: calc(100% - 8px - 8px);
letter-spacing:2px;
}
.button-round-md {
border-radius: 64px;
padding: 0 2.6rem;
width: 100%;
}
.button-round-ios {
border-radius: 64px;
padding: 0 2.6rem;
width: 100%;
}
.label-ios {
margin: 11px 8px 11px 0;
color: #488aff;
}
.list-ios {
margin: -1px 0 32px;
width: 100%;
}
.center{
text-align:center!important;
align-self:center!important;
}
.h4{
    color: white;
    font-size: 2.4rem;
    // font-weight: bold;
}
ion-list.list.list-md {
width: 100%;
}
ion-input.ion-input.input.input-md {
border: 1px solid #e7e7e7;
border-radius: 31px;
}

.item-md,.item-ios{
padding-left: 16px;
padding-right: 0;
position: relative;
font-size: 1.6rem;
font-weight: normal;
text-transform: none;
color: #000;
background-color: #fff;
-webkit-box-shadow: none;
box-shadow: none;
-webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
border-radius: 36px !important;
text-align:center;
width: 100% !important;
border: 1px solid #e7e7e7;
}
.card-header-md {
font-size: 1.6rem;
color: #222;
padding: 16px;
text-align: center;
}
.card-header-ios {
font-size: 1.6rem;
font-weight: 500;
color: #333;
padding: 16px;
text-align: center;
}
.toolbar-ios {
    padding: 0px;
    min-height: 56px;
    height: 63px;
}
.toolbar-md {
    padding: 0px;
    min-height: 56px;
    height: 63px;
}
img.imglogo {
    margin-top: 2px;
    width: 243px;
}
.button-round-md {
    border-radius: 64px;
    padding: 0 2.6rem;
    width: 100%;
    text-transform: capitalize;
}
ion-buttons.bar-buttons.bar-buttons-md,.bar-buttons-ios {
    position: sticky;
    top: 0%;
    left: 0%;
    margin: 0 auto;
    text-align: center;
    align-self: center;
}


@media only screen and (min-width:524px) and (max-width:1080px){
 
 img.imglogo {
     margin-top: 2px;
     width: 245px;
 }
.div1-chp {
    margin-top: 75px;
}
    }
@media only screen and (min-width:768px) and (max-width:1024px){
 
ion-icon {
display: inline-block;

float: left;
color: #488aff!important;
padding-left: 12px;
}
.button-ios {
border-radius: 4px;
height: 2.8em;
font-size: 2.3rem;
color: #fff;
background-color: #488aff;
margin: 0.4rem 0.2rem;
padding: 0 1em;
width: 100%;
border-radius: 31px;
float: left !important;
letter-spacing: 2px;
text-align: center;
}
ion-select {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
overflow: hidden;
width: 94%!important;
}
ion-select {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
overflow: hidden;
max-width: 94%!important;
text-align: center;
}
}

}
