

.error.item-md, .error.item-ios{border: none !important;}
.error{border: none !important;padding: 0px !important;float: left;margin-top: -10px;text-align: left !important;
    border-bottom: none !important;
    background: none !important;padding-top: 2px !important; margin-left:0px !important}
.error p{font-size: 0.89em;color: #ff0000;text-align: right;}
.error .label-ios{max-width: 100%;text-align: left !important;padding-left: 15px;}
.error ion-label{max-width: 100%;width: 100%;text-align: right;font-size: 0.89em;color: #ff0000;}
.item-md{}

ion-card{margin-bottom: 25px !important;}

.col{padding-top : 0 !important;padding-bottom: 0 !important; margin-bottom: 5px !important; width: 100%;margin-top: 5px !important;
   display: inline-block;}
    .col:first-child{padding-top: 10px !important;}

    .backicon{margin-left:15px !important;}
    
    .center.gc_mybtn ion-col.col:first-child{padding-top: 0 !important;padding-bottom: 10px !important;}
   .center.gc_mybtn .my-btn{margin: 0 ;}
   .width30{max-width: 30px;}
   .msg_icon{margin-top: 12px !important;}

   @media only screen and (min-width:768px) and (max-width:1024px){
    .backicon{margin-left:0 !important;padding-left: 0 !important;}

   }
   