<ion-header>
    <ion-navbar class="bkcolor" >
      <ion-grid class="bkcolor">
        <ion-row>
          <ion-col col-1 class="col-1">
           
                <ion-buttons >
                    <button ion-button class="button-inner" (click)="homefun7()">
                      <ion-icon name="ios-arrow-round-back-outline" class="backicon"></ion-icon>
                    </button>
                  </ion-buttons>
                
          </ion-col>
  
   
         
          <ion-col col-10>
            <div class="center">
            <!-- <div class="div-1"> -->
              <img src="assets/imgs/newlogo2.png" class="imglogo"/>
            <!-- </div> -->
            </div>
          </ion-col>
        
        </ion-row>
      </ion-grid>
      
    </ion-navbar>
  </ion-header>

<ion-content padding>
    <div class="div1-req">
        <ion-card>
          <ion-card-header >
            <h4 class="h4">Request New Account</h4>
            </ion-card-header>
            <form [formGroup]="formgroup" (ngSubmit)="newRequest(accountrype, requestoffer, tradingplatform)" #loginForm="ngForm">
           <ion-grid>
          <ion-row class="center" class="width">
        <ion-list class="center">
      
      <ion-col col-12>
        <ion-item>
          <ion-label> <ion-icon name="key"></ion-icon></ion-label>
          <ion-select  name="account" [(ngModel)]="accountrype" placeholder="Request Account Type"  formControlName="accountrype" required>
            <ion-option class="error" *ngFor="let data of datas " [value]="data.name" >{{data.name}}</ion-option>
            <!-- ng-selected="data.name == '1'" -->
          </ion-select>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.accountrype.hasError('required') &&  formgroup.controls.accountrype.touched">
          <p >Selelct Your Account Type.</p>
            </ion-item>
      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label> <ion-icon name="key"></ion-icon></ion-label>
          <ion-select name="account" [(ngModel)]="tradingplatform"   placeholder="Trading Platform" formControlName="tradingplatform" required>
            <ion-option *ngFor="let platformm of platforms " [value]="platformm.name">{{platformm.name}}</ion-option>
       
          </ion-select>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.tradingplatform.hasError('required') &&  formgroup.controls.tradingplatform.touched">
          <p style="color:red">Select Your Trading Platform.</p>
            </ion-item>
      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label> <ion-icon name="key"></ion-icon></ion-label>
          <ion-select  name="account" [(ngModel)]="requestoffer" placeholder="Request Offer" formControlName="requestoffer"  required> 
            <ion-option *ngFor="let trading of tradings" [value]="trading.name">{{trading.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.requestoffer.hasError('required') &&  formgroup.controls.requestoffer.touched">
          <p style="color:red">Select Your Request Offer.</p>
            </ion-item>
      </ion-col>
        <ion-row class="center gc_mybtn" >
          <ion-col col-12 >
        <button ion-button color="Default" round class="my-btn " type="submit"  [disabled]="!accountrype || !requestoffer|| !tradingplatform">SUBMIT</button>
      </ion-col>
      </ion-row>
      </ion-list>
      </ion-row>
      </ion-grid>
      </form>
      </ion-card>
      </div>
</ion-content>
