
<ion-header>

    <ion-navbar class="bkcolor">
      <ion-grid class="bkcolor">
        <ion-row>
          <ion-col col-1 class="col-1">
  
            <ion-buttons>
              <button ion-button class="button-inner" (click)="homefunpage()">
                <ion-icon name="ios-arrow-round-back-outline" class="backicon"></ion-icon>
              </button>
            </ion-buttons>
  
          </ion-col>
  
  
  
          <ion-col col-10>
            <div class="center">
  
              <img src="assets/imgs/newlogo2.png" class="imglogo" />
  
            </div>
          </ion-col>
  
        </ion-row>
      </ion-grid>
  
    </ion-navbar>
  </ion-header>


<ion-content padding>
    <div class="card">
        <div class="trans">
          <h2>Transaction History</h2>
        </div>
    <ion-row>
        <ion-col col-6 class="left">
       
          <ion-searchbar placeholder="Search" (ionInput)="onSearchInput($event)"  [(ngModel)]="myInput" 
          [showCancelButton]="shouldShowCancel" (ionCancel)="onSearchCancel($event)">
         </ion-searchbar>
          </ion-col>   
        </ion-row>
      <ion-row>
        <ion-col col-12>
          <div class="tablediv">
          <table style="width:100%" class="table-responsive" >
        <tr>
          <th>Account.No</th>
          <th>Firstname</th> 
          <th>Lastname</th>
           <th>Email</th>
            <th>Phone Number</th>
             <th>Country</th>
             <th>city</th>
    
        </tr>
        <tr *ngFor="let i of topics">
            <td>{{i.account_no_1}}</td>
            <td>{{i.FirstName}}</td>
            <td>{{i.LastName}}</td>
            <td>{{i.UserEmail}}</td>
            <td>{{i.PhoneNumber}}</td>
            <td>{{i.country}}</td>
            <td>{{i.city}}</td>
        </tr>
      </table>
      </div>
        </ion-col>
    
    </ion-row>
    </div>
</ion-content>
