<ion-header>
  <ion-navbar class="bkcolor">
    <ion-grid class="bkcolor">
      <ion-row>
        <ion-col col-1 class="col-1">

          <ion-buttons>
            <button ion-button class="button-inner" (click)="homefun6()">
              <ion-icon name="ios-arrow-round-back-outline" class="backicon"></ion-icon>
            </button>
          </ion-buttons>

        </ion-col>



        <ion-col col-10>
          <div class="center">
            <!-- <div class="div-1"> -->
            <img src="assets/imgs/newlogo2.png" class="imglogo" />
            <!-- </div> -->
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <form  [formGroup]="formgroup"  (ngSubmit)="PostPersonaInfo()" #loginForm="ngForm">
    <div class="div1">
      <ion-card >
        <ion-card-header>
          <h4 class="h4">Personal Information</h4>
        </ion-card-header>
        <ion-grid class="padd">
          <ion-row class="center" class="width">
            <ion-list class="center">
              <ion-col col-12>
                <ion-item>


                  <ion-label>
                    <ion-icon name="person"></ion-icon>
                  </ion-label>
                  <ion-input type="text" placeholder="First Name"    formControlName="firstName" [(ngModel)]="personalInfo.firstName" name="firstname" 
                    required></ion-input>
                </ion-item>
               <ion-item class="error" *ngIf="formgroup.controls.firstName.hasError('required') &&  formgroup.controls.firstName.touched">
                  <p>Enter Your First Name.</p>
                </ion-item>
              </ion-col>

              <ion-col col-12>
                <ion-item>
                  <ion-label>
                    <ion-icon name="person"></ion-icon>
                  </ion-label>
                  <ion-input type="text" placeholder="Middle Name" [(ngModel)]="personalInfo.middleName" formControlName="middleName" name="middlename"></ion-input>
                </ion-item>
                   <ion-item class="error" *ngIf="formgroup.controls.middleName.hasError('required') &&  formgroup.controls.middleName.touched">
          <p >Enter Your Middle Name.</p>
            </ion-item>

              </ion-col>
              <ion-col col-12>
                <ion-item>
                  <ion-label>
                    <ion-icon name="person"></ion-icon>
                  </ion-label>
                  <ion-input type="text" placeholder="Last Name"   formControlName="lastName"  [(ngModel)]="personalInfo.lastName"  name="lastName"
                    required></ion-input>
                </ion-item>
               <ion-item class="error" *ngIf="formgroup.controls.lastName.hasError('required') &&  formgroup.controls.lastName.touched">
                  <p>Enter Your Last Name.</p>
                </ion-item>

              </ion-col>
              <ion-col col-12 class="gc_value">
                <ion-grid>
                  <ion-row>
                  
                    <ion-col col-12 class="pdr0">
                      <ion-item class="pd0">
                          <ion-label>
                              <ion-icon name="call"></ion-icon>
                            </ion-label>
                        <ion-input type="tel" placeholder="Phone Number"    formControlName="phoneNumber" [(ngModel)]="personalInfo.phoneNumber"  maxlength="10" name="phoneNumber" 
                          required></ion-input>
                      </ion-item>

                    </ion-col>
                  </ion-row>
                </ion-grid>
                <!-- </ion-item> -->
              <ion-item class="error" *ngIf="formgroup.controls.phoneNumber.hasError('required') &&  formgroup.controls.phoneNumber.touched">
                  <p>Enter Your Phone Number</p>
                </ion-item>

              </ion-col>
              <ion-col col-12>
                <ion-item>
                  <ion-label>
                    <ion-icon name="call"></ion-icon>
                  </ion-label>
                  <ion-input placeholder="Account Number"  [readonly]="isReadonly()" [(ngModel)]="addressDetails.account1" formControlName="account1"   type="number" name="altPhoneNumbere"
                   ></ion-input>
                </ion-item>
                <ion-item class="error" *ngIf="formgroup.controls.account1.hasError('required') &&  formgroup.controls.account1.touched">
                  <p>Enter Your Account Number</p>
                </ion-item>

              </ion-col>
              <ion-col col-12>
                <ion-item>,
                  <ion-label>
                    <ion-icon ios="ios-mail-outline" md="md-mail"></ion-icon>
                  </ion-label>
                  <ion-input placeholder=" Email Id" type="email"   [readonly]="isReadonly()" [(ngModel)]="addressDetails.UserEmail" formControlName="UserEmail"  name="altemail"></ion-input>
                </ion-item>
                 <ion-item class="error" *ngIf="formgroup.controls.UserEmail.hasError('required') &&  formgroup.controls.UserEmail.touched">
                  <p>Enter Your  Email Id</p>
                </ion-item>
              </ion-col>

            </ion-list>
          </ion-row>
        </ion-grid>

      </ion-card>
    </div>


    <div class="">
      <ion-card>
        <ion-card-header>
          <h4 class="h4">Address Details</h4>
        </ion-card-header>

        <ion-grid>
          <ion-row class="center" class="width">
            <ion-list>
        
             
         
              <ion-col col-12>

                <ion-item>
                  <ion-label>
                    <ion-icon name="pin"></ion-icon>
                  </ion-label>
                  <!-- <ion-select   placeholder="Country"  name="country"   [(ngModel)]="addressDetails.country"  required >
            
                <ion-option  *ngFor='let country of countries' value="{{country.code}}"  ng-selected="country.code==country"  >{{country.name}}</ion-option>
          </ion-select> -->

                  <ion-select placeholder="country" formControlName="country"  [(ngModel)]="addressDetails.country"  name="data" 
                    ng-selected="country" required>

                    <ion-option value="DZ">Algeria </ion-option>
                    <ion-option value="AD">Andorra </ion-option>
                    <ion-option value="AO">Angola </ion-option>
                    <ion-option value="AI">Anguilla </ion-option>
                    <ion-option value="AG">Antigua &amp; Barbuda</ion-option>
                    <ion-option value="AR">Argentina</ion-option>
                    <ion-option value="AM">Armenia </ion-option>
                    <ion-option value="AW">Aruba </ion-option>
                    <ion-option value="AU">Australia </ion-option>
                    <ion-option value="AT">Austria </ion-option>
                    <ion-option value="AZ">Azerbaijan </ion-option>
                    <ion-option value="BS">Bahamas </ion-option>
                    <ion-option value="BH">Bahrain </ion-option>
                    <ion-option value="BD">Bangladesh </ion-option>
                    <ion-option value="BB">Barbados </ion-option>
                    <ion-option value="BY">Belarus </ion-option>
                    <ion-option value="BE">Belgium </ion-option>
                    <ion-option value="BZ">Belize </ion-option>
                    <ion-option value="BJ">Benin </ion-option>
                    <ion-option value="BM">Bermuda </ion-option>
                    <ion-option value="BT">Bhutan </ion-option>
                    <ion-option value="BO">Bolivia </ion-option>
                    <ion-option value="BA">Bosnia Herzegovina </ion-option>
                    <ion-option value="BW">Botswana</ion-option>
                    <ion-option value="BR">Brazil </ion-option>
                    <ion-option value="BN">Brunei</ion-option>
                    <ion-option value="BG">Bulgaria</ion-option>
                    <ion-option value="BF">Burkina Faso</ion-option>
                    <ion-option value="BI">Burundi</ion-option>
                    <ion-option value="KH">Cambodia</ion-option>
                    <ion-option value="CM">Cameroon</ion-option>
                    <ion-option value="CA">Canada</ion-option>
                    <ion-option value="CV">Cape Verde Islands</ion-option>
                    <ion-option value="KY">Cayman Islands </ion-option>
                    <ion-option value="CF">Central African Republic</ion-option>
                    <ion-option value="CL">Chile </ion-option>
                    <ion-option value="CN">China </ion-option>
                    <ion-option value="CO">Colombia </ion-option>
                    <ion-option value="KM">Comoros</ion-option>
                    <ion-option value="CG">Congo</ion-option>
                    <ion-option value="CK">Cook Islands</ion-option>
                    <ion-option value="CR">Costa Rica</ion-option>
                    <ion-option value="HR">Croatia</ion-option>
                    <ion-option value="CU">Cuba </ion-option>
                    <ion-option value="CY">Cyprus North </ion-option>
                    <ion-option value="CY">Cyprus South</ion-option>
                    <ion-option value="CZ">Czech Republic </ion-option>
                    <ion-option value="DK">Denmark </ion-option>
                    <ion-option value="DJ">Djibouti</ion-option>
                    <ion-option value="DM">Dominica </ion-option>
                    <ion-option value="DO">Dominican Republic </ion-option>
                    <ion-option value="EC">Ecuador</ion-option>
                    <ion-option value="EG">Egypt</ion-option>
                    <ion-option value="SV">El Salvador</ion-option>
                    <ion-option value="GQ">Equatorial Guinea</ion-option>
                    <ion-option value="ER">Eritrea</ion-option>
                    <ion-option value="EE">Estonia</ion-option>
                    <ion-option value="ET">Ethiopia</ion-option>
                    <ion-option value="FK">Falkland Islands</ion-option>
                    <ion-option value="FO">Faroe Islands</ion-option>
                    <ion-option value="FJ">Fiji</ion-option>
                    <ion-option value="FI">Finland</ion-option>
                    <ion-option value="FR">Franc</ion-option>
                    <ion-option value="GF">French Guiana</ion-option>
                    <ion-option value="PF">French Polynesia</ion-option>
                    <ion-option value="GA">Gabon</ion-option>
                    <ion-option value="GM">Gambia</ion-option>
                    <ion-option value="GE">Georgia </ion-option>
                    <ion-option value="DE">Germany </ion-option>
                    <ion-option value="GH">Ghana</ion-option>
                    <ion-option value="GI">Gibraltar</ion-option>
                    <ion-option value="GR">Greece </ion-option>
                    <ion-option value="GL">Greenland</ion-option>
                    <ion-option value="GD">Grenada </ion-option>
                    <ion-option value="GP">Guadeloupe</ion-option>
                    <ion-option value="GU">Guam</ion-option>
                    <ion-option value="GT">Guatemala </ion-option>
                    <ion-option value="GN">Guinea </ion-option>
                    <ion-option value="GW">Guinea - Bissau </ion-option>
                    <ion-option value="GY">Guyana </ion-option>
                    <ion-option value="HT">Haiti </ion-option>
                    <ion-option value="HN">Honduras </ion-option>
                    <ion-option value="HK">Hong Kong </ion-option>
                    <ion-option value="HU">Hungary </ion-option>
                    <ion-option value="IS">Iceland </ion-option>
                    <ion-option value="IN">India </ion-option>
                    <ion-option value="ID">Indonesia </ion-option>
                    <ion-option value="IR">Iran </ion-option>
                    <ion-option value="IQ">Iraq </ion-option>
                    <ion-option value="IE">Ireland </ion-option>
                    <ion-option value="IL">Israel </ion-option>
                    <ion-option value="IT">Italy </ion-option>
                    <ion-option value="JM">Jamaica </ion-option>
                    <ion-option value="JP">Japan </ion-option>
                    <ion-option value="JO">Jordan </ion-option>
                    <ion-option value="KZ">Kazakhstan </ion-option>
                    <ion-option value="KE">Kenya </ion-option>
                    <ion-option value="KI">Kiribati </ion-option>
                    <ion-option value="KP">Korea North </ion-option>
                    <ion-option value="KR">Korea South </ion-option>
                    <ion-option value="KW">Kuwait </ion-option>
                    <ion-option value="KG">Kyrgyzstan </ion-option>
                    <ion-option value="LA">Laos </ion-option>
                    <ion-option value="LV">Latvia </ion-option>
                    <ion-option value="LB">Lebanon </ion-option>
                    <ion-option value="LS">Lesotho </ion-option>
                    <ion-option value="LR">Liberia </ion-option>
                    <ion-option value="LY">Libya </ion-option>
                    <ion-option value="LI">Liechtenstein </ion-option>
                    <ion-option value="LT">Lithuania </ion-option>
                    <ion-option value="LU">Luxembourg </ion-option>
                    <ion-option value="MO">Macao </ion-option>
                    <ion-option value="MK">Macedonia </ion-option>
                    <ion-option value="MG">Madagascar </ion-option>
                    <ion-option value="MW">Malawi </ion-option>
                    <ion-option value="MY">Malaysia </ion-option>
                    <ion-option value="MV">Maldives </ion-option>
                    <ion-option value="ML">Mali </ion-option>
                    <ion-option value="MT">Malta </ion-option>
                    <ion-option value="MH">Marshall Islands </ion-option>
                    <ion-option value="MQ">Martinique </ion-option>
                    <ion-option value="MR">Mauritania </ion-option>
                    <ion-option value="YT">Mayotte </ion-option>
                    <ion-option value="MX">Mexico </ion-option>
                    <ion-option value="FM">Micronesia </ion-option>
                    <ion-option value="MD">Moldova </ion-option>
                    <ion-option value="MC">Monaco </ion-option>
                    <ion-option value="MN">Mongolia </ion-option>
                    <ion-option value="MS">Montserrat </ion-option>
                    <ion-option value="MA">Morocco </ion-option>
                    <ion-option value="MZ">Mozambique </ion-option>
                    <ion-option value="MN">Myanmar </ion-option>
                    <ion-option value="NA">Namibia </ion-option>
                    <ion-option value="NR">Nauru </ion-option>
                    <ion-option value="NP">Nepal </ion-option>
                    <ion-option value="NL">Netherlands </ion-option>
                    <ion-option value="NC">New Caledonia </ion-option>
                    <ion-option value="NZ">New Zealand </ion-option>
                    <ion-option value="NI">Nicaragua </ion-option>
                    <ion-option value="NE">Niger </ion-option>
                    <ion-option value="NG">Nigeria </ion-option>
                    <ion-option value="NU">Niue </ion-option>
                    <ion-option value="NF">Norfolk Islands </ion-option>
                    <ion-option value="NP">Northern Marianas </ion-option>
                    <ion-option value="NO">Norway </ion-option>
                    <ion-option value="OM">Oman </ion-option>
                    <ion-option value="PW">Palau </ion-option>
                    <ion-option value="PA">Panama </ion-option>
                    <ion-option value="PG">Papua New Guinea </ion-option>
                    <ion-option value="PY">Paraguay </ion-option>
                    <ion-option value="PE">Peru </ion-option>
                    <ion-option value="PH">Philippines </ion-option>
                    <ion-option value="PL">Poland </ion-option>
                    <ion-option value="PT">Portugal </ion-option>
                    <ion-option value="PR">Puerto Rico </ion-option>
                    <ion-option value="QA">Qatar </ion-option>
                    <ion-option value="RE">Reunion </ion-option>
                    <ion-option value="RO">Romania </ion-option>
                    <ion-option value="RU">Russia </ion-option>
                    <ion-option value="RW">Rwanda </ion-option>
                    <ion-option value="SM">San Marino </ion-option>
                    <ion-option value="ST">Sao Tome &amp; Principe </ion-option>
                    <ion-option value="SA">Saudi Arabia </ion-option>
                    <ion-option value="SN">Senegal </ion-option>
                    <ion-option value="CS">Serbia </ion-option>
                    <ion-option value="SC">Seychelles </ion-option>
                    <ion-option value="SL">Sierra Leone </ion-option>
                    <ion-option value="SG">Singapore </ion-option>
                    <ion-option value="SK">Slovak Republic </ion-option>
                    <ion-option value="SI">Slovenia </ion-option>
                    <ion-option value="SB">Solomon Islands </ion-option>
                    <ion-option value="SO">Somalia </ion-option>
                    <ion-option value="ZA">South Africa </ion-option>
                    <ion-option value="ES">Spain </ion-option>
                    <ion-option value="LK">Sri Lanka </ion-option>
                    <ion-option value="SH">St. Helena </ion-option>
                    <ion-option value="KN">St. Kitts </ion-option>
                    <ion-option value="SC">St. Lucia </ion-option>
                    <ion-option value="SD">Sudan </ion-option>
                    <ion-option value="SR">Suriname </ion-option>
                    <ion-option value="SZ">Swaziland </ion-option>
                    <ion-option value="SE">Sweden</ion-option>
                    <ion-option value="CH">Switzerland</ion-option>
                    <ion-option value="SI">Syria </ion-option>
                    <ion-option value="TW">Taiwan </ion-option>
                    <ion-option value="TJ">Tajiksta</ion-option>
                    <ion-option value="TH">Thailand</ion-option>
                    <ion-option value="TG">Togo </ion-option>
                    <ion-option value="TO">Tonga </ion-option>
                    <ion-option value="TT">Trinidad &amp; Tobago </ion-option>
                    <ion-option value="TN">Tunisia </ion-option>
                    <ion-option value="TR">Turkey</ion-option>
                    <ion-option value="TM">Turkmenistan </ion-option>
                    <ion-option value="TM">Turkmenistan </ion-option>
                    <ion-option value="TC">Turks &amp; Caicos Islands </ion-option>
                    <ion-option value="TV">Tuvalu </ion-option>
                    <ion-option value="UG">Uganda </ion-option>
                    <ion-option value="GB">UK</ion-option>
                    <ion-option value="UA">Ukraine </ion-option>
                    <ion-option value="AE">United Arab Emirates </ion-option>
                    <ion-option value="UY">Uruguay </ion-option>
                    <ion-option value="US">USA (+1)</ion-option>
                    <ion-option value="UZ">Uzbekistan </ion-option>
                    <ion-option value="VU">Vanuatu </ion-option>
                    <ion-option value="VA">Vatican City </ion-option>
                    <ion-option value="VE">Venezuela </ion-option>
                    <ion-option value="VN">Vietnam </ion-option>
                    <ion-option value="VG">Virgin Islands - British </ion-option>
                    <ion-option value="VI">Virgin Islands - US </ion-option>
                    <ion-option value="WF">Wallis &amp; Futuna </ion-option>
                    <ion-option value="YE">Yemen (North)</ion-option>
                    <ion-option value="YE">Yemen (South)</ion-option>
                    <ion-option value="ZM">Zambia </ion-option>
                    <ion-option value="ZW">Zimbabwe </ion-option>

                  </ion-select>
                </ion-item>
                 <ion-item class="error" *ngIf="formgroup.controls.country.hasError('required') &&  formgroup.controls.country.touched">
                  <p>Selelct Your Country.</p>
                </ion-item>

              </ion-col>
       
              <ion-col col-12>
                <ion-item>
                  <ion-label>
                    <ion-icon name="pin"></ion-icon>
                  </ion-label>
                  <ion-input type="text" placeholder="Address" [(ngModel)]="addressDetails.address"  formControlName="address"  name="address"
                    required></ion-input>
                </ion-item>
                <ion-item class="error" *ngIf="formgroup.controls.address.hasError('required') &&  formgroup.controls.address.touched">
                  <p>Enter Your Address.</p>
                </ion-item>
              </ion-col>
          
            </ion-list>
          </ion-row>
        </ion-grid>


      </ion-card>
    </div>

    <div class="div2">
        <ion-card>
          <ion-card-header>
            <h4 class="h4">Business Information</h4>
          </ion-card-header>
          <ion-grid class="padd">
            <ion-row class="center" class="width">
              <ion-list class="center">

                <ion-col col-12>
                  <ion-item>
  
  
                    <ion-label>
                      <ion-icon name="person"></ion-icon>
                    </ion-label>
                    <ion-input type="text" formControlName="business_info"   [(ngModel)]="addressDetails.business_info" placeholder="Business Information"  name="business_info"
                      required></ion-input>
                  </ion-item>
                  <ion-item class="error"  *ngIf="formgroup.controls.business_info.hasError('required') &&  formgroup.controls.business_info.touched">
                    <p>Enter Business Information</p>
                  </ion-item>
             
                </ion-col>

                <ion-col col-12>
                  <ion-item>
                    <ion-label>
                      <ion-icon name="person"></ion-icon>
                    </ion-label>
                    <ion-input type="text " formControlName="estimateno"  [(ngModel)]="addressDetails.estimateno" placeholder="Estimated no of Clients(required)" name="estimateno" ></ion-input>
                  </ion-item>
                  <ion-item class="error" *ngIf="formgroup.controls.estimateno.hasError('required') &&  formgroup.controls.estimateno.touched">
                    <p>Enter Estimated no of Clients(required) </p>
                  </ion-item>
                
                </ion-col>
                <ion-col col-12>


                    <ion-item>
                      <ion-label>
                        <ion-icon name="person"></ion-icon>
                      </ion-label>
                      <ion-select formControlName="ib_exp"  name="ib_exp" [(ngModel)]="addressDetails.ib_exp" required>
                        <ion-option value="yes" *ngIf="addressDetails.ib_exp">Yes</ion-option>
                        <ion-option value="no" *ngIf="addressDetails.ib_exp">No</ion-option>
    
                      </ion-select>
                    </ion-item>
                    <ion-item class="error" *ngIf="formgroup.controls.ib_exp.hasError('required') &&  formgroup.controls.ib_exp.touched">
                      <p>Select </p>
                    </ion-item>
    
    
                  </ion-col>
        
  
                  <ion-row class="myclassbtn center">
                      <ion-col col-12>
                        <button ion-button color="Default" round class="my-btn"  type="submit">Update</button>
                        <!-- !firstNamee || !lastNamee || !phoneNumbere || !dateOfBirthe || !citizenShipe || !countrye || !addresse || !zipCodee || !city -->
                      </ion-col>
                    </ion-row>
              </ion-list>
            </ion-row>
          </ion-grid>
  
        </ion-card>
      </div>
  
  </form>
  <ion-row class="rowaffit"  >
    <ion-col col-10 >
      <div class="divlink">

           <ion-input class="mdd"  [readonly]="isReadonly()" type="test"  value="{{mm}}"></ion-input>
          </div>

       </ion-col>
       <ion-col col-2 (click)="ngIfCtrl()" class="iconcol">
        <ion-icon name="copy"  class="iconimg"></ion-icon>
       </ion-col>

     </ion-row>
</ion-content>