page-personal-p {
    .bkcolor{
        background: #264070;
 }
 .scroll-content {
    padding-bottom: 0px !important;
    margin-top: 0px!important;
}
  .backicon{
    // width: 100%;
    // height: 50%;
    font-size: 59px;
    color: white;
    margin-left: 0;
    
   
}
.toolbar-ios {
     padding: 0px !important ; 
    /* padding-left: 4px; */
    /* padding-right: 4px; */
    /* min-height: 44px; */
}
.toolbar-md {
     padding: 0px; 
    min-height: 56px;
}
// .col-1{
//     padding: 5%;
// }
.div-1{
    padding-left:28% ;
     width:130% ;
      height:80%;
}
.center{
  text-align:center !important;
  align-self:center !important;
}
.button-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
   height: 0%;
}
.div1{
    margin-top: 75px;
}
ion-card-header{
    background: #264070;
}
.center{
text-align:center!important;
align-self:center!important;
}
.h4 {
    color: white;
    font-size: 2.4rem;
    // font-weight: bold;
    text-align: center;
}
ion-list.list.list-md {
width: 100%;
}
ion-input.ion-input.input.input-md {
border: 1px solid #e7e7e7;
border-radius: 31px;
}
.item-md,.item-ios{
padding-left: 16px;
padding-right: 0;
position: relative;
font-size: 1.6rem;
font-weight: normal;
text-transform: none;
color: #000;
background-color: #fff;
-webkit-box-shadow: none;
box-shadow: none;
-webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
border-radius: 36px !important;
text-align:center;
width: 100% !important;
border: 1px solid #e7e7e7;
}
ion-icon {
display: inline-block;
font-size: 1.2em;
color: #427feb;
float: left;
}
.list-md .item-input:last-child {
border-bottom: 1px solid #e7e7e7;
}
.list-ios {
width: 100%;
}
.select-md .select-placeholder {
color: #999;
max-width: 100%;
float: left !important;
text-align: left;
}
.select-ios .select-placeholder {
color: #999;
max-width: 100%;
float: left !important;
text-align: left;
}
ion-select {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
overflow: hidden;
width: 100%!important;
}
ion-select {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
overflow: hidden;
max-width:89%!important;
text-align: center;
}
.select-ios {
padding: 0px 8px 0px 0px;
float: left !important;
}
.select-text {
overflow: hidden;
-webkit-box-flex: 1;
-webkit-flex: 1;
-ms-flex: 1;
flex: 1;
min-width: 16px;
font-size: inherit;
/* text-overflow: ellipsis; */
white-space: nowrap;
text-align: left;
}
.col.pd0{padding: 0 !important;}
.col.pdtb0{padding-top: 0 !important;padding-bottom: 0 !important;}
.label-ios {
margin: 0px 0px 0px 0;
}
// .card-ios{padding-bottom: 25px;}
.gc-textarea ion-icon {
    margin: 13px 0px 13px 0;
    }
.select-md {
padding: 0px 10px 0px 0px;
}
.toolbar-ios {
    padding: 0px;
    min-height: 56px;
    height: 63px;
}
.toolbar-md {
    padding: 0px;
    min-height: 56px;
    height: 63px;
}
img.imglogo {
    margin-top: 2px;width: 243px;
}
.datetime-md{
    padding: 0px !important;
}
.my-btn {
    width: 100%;
    text-transform: capitalize;
}
.text-input-md {
    margin: 13px 15px;
    padding: 0;
    width: calc(100% - 8px - 8px);
}
// ion-card{margin-bottom: 25px !important; }
textarea.text-input.text-input-md{
    margin: 13px 15px;
    padding: 0;
    width: calc(100% - 8px - 8px);height: 19px;
}

ion-label#lbl-18 {
    margin-top: 0px;margin-bottom: 0;
}
ion-buttons.bar-buttons.bar-buttons-md, .bar-buttons-ios{
    margin: 0 auto;
    text-align: center;
    align-self: center;
    position: sticky;
    top: 0%;
    left: 0%;
}
ion-label {
    -webkit-box-flex: initial;
    -webkit-flex: initial;
    -ms-flex: initial;
    flex: initial;
    max-width: 200px;
    pointer-events: none;
}
.select-text{padding-left: 16px;}
.datetime-text{padding-left: 16px;}

.gc_value .row{padding: 0;}
.pdr0{padding-right: 0px;}
//.gc_value .item-input{padding-left: 12px;}
.gc_value .grid{padding: 0;}
.myclassbtn ion-col.col:first-child{padding-top: 0 !important;padding-bottom: 10px !important;}
.myclassbtn .my-btn{margin: 0}

.datetime-ios {
    padding-left:   16px;
}

@media only screen and (min-width:524px) and (max-width:1080px){
 
 img.imglogo {
     margin-top: 2px;
     width: 245px;
 }
 .div1 {
    margin-top: 75px;
    }
    }

@media only screen and (min-width:768px) and (max-width:1024px){
 .div1 {
margin-top: 75px;
}
ion-icon {
display: inline-block;
//font-size: 2.5em;
color: #029ff4;
padding-left: 12px;
}
.button-ios {
border-radius: 4px;
height: 2.8em;
font-size: 2.3rem;
color: #fff;
background-color: #488aff;
margin: 0.4rem 0.2rem;
padding: 0 1em;
width: 100%;
border-radius: 31px;
float: left !important;
letter-spacing: 2px;
text-align: center;
}
ion-select {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
overflow: hidden;
width: 91%!important;
}
ion-select {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
overflow: hidden;
max-width: 93%!important;
text-align: center;
}
ion-label#lbl-9 {
    margin-right: 0px;
}
}
@media only screen and (min-width:768px){
.select-ios {
padding: 0px 10px 0px 0px;
}
}
.datetime-text {
    text-align: left !important;
}
.label1{
  padding: 0;width: auto;text-align: left;
}
.notifocation{
    color: #A23D38;
    background-color: #FCD3D1;
    font-size: 1.5rem;
    margin-left: -16px;
    
}

.buttonmm {
    text-align: center;
}
    .buttonmm button.disable-hover.button.button-ios.button-default.button-default-ios {
        margin: 3px;
        padding: 0px 6px;
    }

    .buttonmm ion-label.label.label-ios {
        padding: 0px;
        margin: 0px;
        color: #000;
        font-weight: bold;
    }
    .buttonmm ion-icon.icon.icon-ios.ion-ios-copy {
        font-size: 30px;
        color: #488aff;
    }
    
}
page-personal-p ion-label {
    -webkit-box-flex: initial;
    -webkit-flex: initial;
    -ms-flex: initial;
    flex: initial;
    max-width: 100%;
    pointer-events: none;
}
page-personal-p .buttonmm {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.iconimg{
    display: inline-block;
    font-size: 3.2em;
    // padding: 7px;
    color: #264070;
}

// ion-input#mm {
//     border: 2px solid #264070;
//     border-radius: 18px;
//     height: 56px;
//     text-align: center;
//     padding: 4px;
// }
.text-input-md {
    // text-align: center;
    margin: 9px 1px;
    // padding: 0px;
    width: 101%;
}

.rowaffit{
    border-radius: 5px;
    border: 2px solid #264070;
}
.iconcol{
    
    padding: 14px;
}
ion-row.rowaffit.row {
    height: 63px;
}

ion-input#mm {
    margin: 4px 3px;
    height: 25px;}

    // page-home ion-input#mm {
    //     margin: 4px 3px;
    //     height: 25px;
    //     width: 105%;
    // }

    ion-col.iconcol.col {
        padding: 22px;
    }

    page-home .iconimg {
        display: inline-block;
        font-size: 3.2em;
        /* padding: 7px; */
        color: #264070;
    }

    .mdd {
        // border: 1px solid;
        // padding: 0px;
        // border-radius: 8px;
        margin: -6px -4px;
        // height: 25px;
        width: 105%;
    }
    // .cardform{
    //     width: 100% !important;

    //       }