page-withdrawal {
  .bank-with{
    background-color: #264070;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    float:left;
    width: 100%;
}
.card-with{
    background-color: #264070;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    float:left;
    width: 100%;

}
.top {
    margin-top: 9%;
}
.heading {
    text-align: center;
    background-color: #374f7b;
    margin-top: 26px;
    width: 100%;
}
// ion-row.center.bg-strip {
//     text-align: center !important;
//     -webkit-align-self: center !important;
//     -ms-flex-item-align: center !important;
//     align-self: center !important;
//     width: 100%;
//     margin-bottom: 15px;
//     margin-top: 27px;
//     background-color: #374f7b;
// }
 .heading-2 h1 {
    color: #ffffff !important;
    font-size: 2.4rem;
    padding-top: 12px;
}
    .bkcolor{
        background: #264070;

  }
  .backicon{
    // width: 100%;
    // height: 50%;
    font-size: 59px;
    color: white;
    margin-left: 00px;
   
}

.toolbar-ios {
     padding: 0px !important ; 
    /* padding-left: 4px; */
    /* padding-right: 4px; */
    /* min-height: 44px; */
}
.toolbar-md {
     padding: 0px; 
    min-height: 56px;
}
// .col-1{
//     padding: 5%;
// }
.div-1{
    padding-left:28% ;
     width:130% ;
      height:80%;

}
.center{
  text-align:center !important;
  align-self:center !important;

}
.button-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
   height: 0%;
}


.toolbar-background-md {
    border-color: #b2b2b2;
    background: #264070;
    color: #ffff;
    text-align: center;
}
.toolbar-background-ios {
    background: #264070;
}
.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
}
.toolbar-title-ios {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: #fff;
    pointer-events: auto;
}
.divimg {
    width: 100%;
    // height: 100%;
    //*text-align: center;*//
    box-shadow: 2px 2px 10px #ccc;
}
.divimg img {
    width: 100%;
}
.button-round-md ,.button-round-ios {
    border-radius: 0px;
    padding: 0 2.6rem;
    width: 100%;
    background-color: #264070;
}
span.button-inner {
    letter-spacing: 2px;
}
.scroll-content {
    margin-top: 23px !important;
}
.heading-2 {
    margin-top: 13px;
}
.heading-2 h4 {
    color: #fff;
    text-align: center;
    font-weight: normal;
    }
.item-ios {
    padding-left: 0px;
    padding-left: 16px;
    border-radius: 0;
    position: relative;
    font-size: 1.7rem;
    color: #000;
    background-color: #fff;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    width: 21%;
}

.item-md {
    /* padding-left: 16px; */
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
}
.select-md {
    padding: 0px 15px 0px 0px;
}
.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: #999;
    font-size: 12px;
}
.label-md {
    margin: 0px 0px 0px 0;
}
 span.button-inner {
    letter-spacing: 2px;

}
.text-input-md {
    margin: 0px 8px;
    padding: 5px;
    width: calc(100% - 8px - 8px);
    border: 1px solid #ccc;
    /* height: 16px; */
}
.top {
    margin-top: 21px;
}
.item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 1px solid transparent; 

}
.select-md .select-icon {
    position: relative;
    width: 0px;
    height: 19px;
}
.item-ios {
    padding-left: 0px;
    padding-left: 16px;
    border-radius: 0;
    position: relative;
    font-size: 1.7rem;
    color: #000;
    background-color: #fff;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    width: 100%;
}
.text-input-ios {
    margin: 0px 8px;
    padding: 5px;
    width: calc(100% - 8px - 8px);
    border: 1px solid #ccc;
    /* height: 16px; */
}
.label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input {
   
    border: 1px solid #ccc;
    padding: 5px;
}
.item-ios.item-block .item-inner {
    padding-right: 8px;
    padding-right: 8px; 
   border-bottom: 0.55px solid transparent; 
}
.label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input {
   margin-left: 0px;
   width:100%;
}
.select-ios {
    padding: 0px 10px 0px 0px;
}
.label-ios {
    margin: 0px 0px 0px 0px;
}
.heading h1 {
    font-size: 20px;
    padding-top: 10px;
    color: #fff;
}

.heading {
    text-align: center;
}
.center{
	text-align:center!important;
	align-self:center!important;
}
.heading-2 h5 {
    color:white;
}
.divimg-bank img {
    width: 50%;
}
.divimg-bank {
  width: 100%;
  height: 100%;
  //*text-align: center;*//
  box-shadow: 2px 2px 10px #ccc;
  text-align: center;
}
.toolbar-ios {
    padding: 0px;
    min-height: 56px;
    height: 63px;
}
.toolbar-md {
    padding: 0px;
    min-height: 56px;
    height: 63px;
}
img.imglogo {
    margin-top: 2px;
    width: 243px;
}

.heading {
    text-align: center;
    background-color: #264070;
    margin-top: 26px;
    width: 100%;
    color: white;
}

.bg-strip{
width: 100%;
}
ion-buttons.bar-buttons.bar-buttons-md,.bar-buttons-ios {
    position: sticky;
    top: 0%;
    left: 0%;
    margin: 0 auto;
    text-align: center;
    align-self: center;
}
.top {
    margin-top:8%;
}
.col:first-child {
    padding-top: 0px !important;
}
@media only screen and (min-width:524px) and (max-width:1080px){
 
 img.imglogo {
     margin-top: 2px;
     width: 245px;
 }
    }
@media only screen and (min-width:768px) and (max-width:1030px){
    .backicon {
        font-size: 59px;
        color: white;
        // margin-left: 22px;
        float: right;
    }
    .top {
        margin-top:4%;
    }
}
}
