<ion-header>
    <ion-navbar class="bkcolor" >
      <ion-grid class="bkcolor">
        <ion-row>
          <ion-col col-1 class="col-1">
           
                <ion-buttons (click)="homefun16()">
                    <button ion-button class="button-inner">
                      <ion-icon name="ios-arrow-round-back-outline" class="backicon" >
                       </ion-icon>
                    </button>
                  </ion-buttons>
           </ion-col>
  
   
         
          <ion-col col-10>
            <div class="center">
            <!-- <div class="div-1"> -->
              <img src="assets/imgs/newlogo2.png" class="imglogo"/>
            <!-- </div> -->
            </div>
          </ion-col>
        
        </ion-row>
      </ion-grid>
      
    </ion-navbar>
  </ion-header>


<ion-content padding>
    <div class="top">
        <ion-grid>
         <ion-row class="center bg-strip" >
         <div class="heading">
           <h1>E-Wallet</h1>
         </div>
          </ion-row>
           <ion-row class="center" class="width">
            <ion-col col-3  class="divimg"  *ngFor="let data of datas"  (click)="imgMainfun(data.name)">
          
              <img src="https://uniglobemarkets.com/unibeta/backoffice/upload/icon/{{data.icon}}" >
        
             </ion-col>
           <!-- <ion-col col-6 (click)="wdskrillfun()">
           <div class="divimg">
             <img src="assets/imgs/skrill.png">
           </div>	
           </ion-col>		 -->
           </ion-row>
            <!-- <ion-row class="center" class="width">
           <ion-col col-6 >
           <div class="divimg">
             <img src="assets/imgs/qivi.PNG">
           </div>	
           </ion-col>
           <ion-col col-6>
           <div class="divimg">
             <img src="assets/imgs/webmoney.png">
           </div>	
           </ion-col>		
           </ion-row> -->

             <!-- <ion-row class="center" class="width">
           <ion-col col-6>
           <div class="divimg">
             <img src="assets/imgs/perfect.png">
           </div>	
           </ion-col>
           <ion-col col-6>
           <div class="divimg" (click)="wdvisafun()">
             <img src="assets/imgs/4Logo-PNG-Pic.png">
           </div>	
           </ion-col>		
           </ion-row> -->

              <!-- <ion-row class="center" class="width">
           <ion-col col-6>
           <div class="divimg" (click)="wdcashufun()">
             <img src="assets/imgs/cashu.png">
           </div>	
           </ion-col>
           <ion-col col-6>
           <div class="divimg">
             <img src="assets/imgs/okpay.png">
           </div>	
           </ion-col>		
           </ion-row> -->
           <ion-row >
            <ion-col col-6 class="center" class="space">
              <div class="bank-with">
           <div class="heading-2">
           <h5>Bank Withdrawal</h5>
         </div>
         </div>
       </ion-col>
     
     <ion-col col-6 class="center">
      <div class="card-with">
           <div class="heading-2">
           <h5>Card Withdrawal</h5>
         </div>
          </div>
       </ion-col>
    
           </ion-row>
            <ion-row>
           <ion-col col-6 (click)="bankwith()">
           
           <div class="divimg-bank">
             <img src="assets/imgs/bankT.png">
           </div>
           
           </ion-col>
             <ion-col col-6 (click)="wdnewvisa()">
           <div class="divimg">
             <img src="assets/imgs/4Logo-PNG-Pic.png">
           </div>
         
           </ion-col>
         </ion-row>
          
            <ion-row>
         
         </ion-row>
          
       </ion-grid>
       </div>
</ion-content>
