<ion-header>
  <ion-navbar class="bkcolor" >
    <ion-grid class="bkcolor">
      <ion-row>
        <ion-col col-1 class="col-1">
         
              <ion-buttons (click)="homefun18()">
                  <button ion-button class="button-inner">
                    <ion-icon name="ios-arrow-round-back-outline" class="backicon" ></ion-icon>
                  </button>
                </ion-buttons>
              
        </ion-col>

 
       
        <ion-col col-10>
          <div class="center">
          <!-- <div class="div-1"> -->
            <img src="assets/imgs/newlogo2.png" class="imglogo"/>
          <!-- </div> -->
          </div>
        </ion-col>
      
      </ion-row>
    </ion-grid>
    
  </ion-navbar>
</ion-header>

<ion-content padding>
<div class="div1">
  <ion-card>
    <ion-card-header  class="center">
      <h4 class="h4">E-Wallet</h4>
      </ion-card-header>
      <form  [formGroup]="formgroup" (ngSubmit)="EwalletCASHFun(ewallet,account,email,amount,comment)" #loginForm="ngForm">
     <ion-grid>
    <ion-row class="center" class="width">
  <ion-list class="center">
 <ion-col col-12>
 <ion-list>
  <ion-item>
    <ion-label class="width30" ><ion-icon ios="ios-mail-open" md="md-mail-open"></ion-icon></ion-label>
    <ion-select  placeholder="Choos E-wallet"  name="ewallet" [(ngModel)]="ewallet" formControlName="ewalletl" required >
        <ion-option *ngFor="let get of gets" [value]="get.name">{{get.name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item  class="error" *ngIf="formgroup.controls.ewalletl.hasError('required') &&  formgroup.controls.ewalletl.touched">
    <p >Selelct E-Wallet type.</p>
      </ion-item>
</ion-list>
</ion-col>
 <ion-col col-12>
 <ion-list>
  <ion-item>
    <ion-label class="width30"><ion-icon ios="ios-list-box" md="md-list-box"></ion-icon></ion-label>
    <ion-select   placeholder="Select Account"  name="account" [(ngModel)]="account" formControlName="account" required>
        <ion-option *ngFor="let data of accounts" value="{{data}}"  >Account No:{{data}}</ion-option> 
    
    </ion-select>
  </ion-item>
  <ion-item class="error" *ngIf="formgroup.controls.account.hasError('required') &&  formgroup.controls.account.touched">
    <p >Selelct Your Account Number.</p>
      </ion-item>
</ion-list>
</ion-col>
<ion-col col-12>
  <ion-item>
    <ion-label><ion-icon ios="ios-mail-outline" md="md-mail"></ion-icon></ion-label>
    <ion-input type="email" [value]="email" [readonly]="isReadonly()" placeholder="Email" name="email" [(ngModel)]="email" formControlName="emaill" required></ion-input>
  </ion-item>
  <ion-item  class="error" *ngIf="formgroup.controls.emaill.hasError('required') &&  formgroup.controls.emaill.touched">
    <p >Enter Your Email-Id.</p>
      </ion-item>           
</ion-col>
<ion-col col-12>
  <ion-item>
    <ion-label> <ion-icon name="cash"></ion-icon></ion-label>
    <ion-input type="number" value="" placeholder="Amount" name="amount" [(ngModel)]="amount" formControlName="amountt" required></ion-input>
  </ion-item>
  <ion-item  class="error" *ngIf="formgroup.controls.amountt.hasError('required') &&  formgroup.controls.amountt.touched">
    <p >Enter Your Amount.</p>
      </ion-item>
</ion-col>
<ion-col col-12>
  <ion-item>
    <ion-label class="msg_icon"><ion-icon ios="ios-mail-outline" md="md-mail"></ion-icon></ion-label>
   <ion-textarea  placeholder="Enter Your Comment"  name="comment" [(ngModel)]="comment" formControlName="comment" (keypress)="onKeyPress($event)" required></ion-textarea> 
  </ion-item>
  <ion-item class="error" *ngIf="formgroup.controls.comment.hasError('required') &&  formgroup.controls.comment.touched">
    <p >Enter Comment.</p>
      </ion-item>
</ion-col>
  <ion-row class="center gc_mybtn">
    <ion-col col-12>
  <button ion-button color="Default" round class="my-btn"  type="submit"  [disabled]="!loginForm.form.valid">Submit</button>
</ion-col>
</ion-row>
</ion-list>
</ion-row> 
      </ion-grid>
    </form>
  </ion-card>
</div>


</ion-content>
