<ion-header>
    <ion-navbar class="bkcolor" >
      <ion-grid class="bkcolor">
        <ion-row>
          <ion-col col-1 class="col-1">
           
                <ion-buttons (click)="homefun14()">
                    <button ion-button class="button-inner">
                      <ion-icon name="ios-arrow-round-back-outline" class="backicon" ></ion-icon>
                    </button>
                  </ion-buttons>
                
          </ion-col>
  
   
         
          <ion-col col-10>
            <div class="center">
            <!-- <div class="div-1"> -->
              <img src="assets/imgs/newlogo2.png" class="imglogo"/>
            <!-- </div> -->
            </div>
          </ion-col>
        
        </ion-row>
      </ion-grid>
      
    </ion-navbar>
  </ion-header>



<ion-content padding>
    <div class="div1">
        <form  [formGroup]="formgroup"  (ngSubmit)="depositskrillfun()" #loginForm="ngForm">
        <div class="head"><h4>Skrill</h4></div>
        <ion-card>
          <ion-card-header  class="center">
            <h4 class="h4">Personal Detail</h4>
            </ion-card-header>
           <ion-grid>
          <ion-row class="center" class="width">  
    
        <ion-list class="center">
      <ion-col col-12>
        <ion-item>
          <ion-label><ion-icon name="person"></ion-icon></ion-label>
          <ion-input type="text" value="{{firstName}}" formControlName="firstNamee" name="fname" [(ngModel)]="firstName"  placeholder="First Name" required></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.firstNamee.hasError('required') &&  formgroup.controls.firstNamee.touched">
          <p >Enter Your First Name.</p>
            </ion-item>
        

      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label><ion-icon name="person"></ion-icon></ion-label>
          <ion-input  type="text" value="{{lastName}}" formControlName="lastNamee" name="lname" [(ngModel)]="lastName" placeholder="Last Name" required></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.lastNamee.hasError('required') &&  formgroup.controls.lastNamee.touched">
          <p >Enter Your Last Name.</p>
            </ion-item>
        

      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label><ion-icon name="phone-portrait"></ion-icon></ion-label>
          <ion-input type="tel"   value="{{phoneNumber}}" formControlName="phoneNumbere" name="mobile" maxlength="10"  [(ngModel)]="phoneNumber" placeholder="Phone Number" required></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.phoneNumbere.hasError('required') &&  formgroup.controls.phoneNumbere.touched">
          <p >Enter Your Phone Number.</p>
            </ion-item>
        

      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label> <ion-icon name="pin"></ion-icon></ion-label>
          <ion-input type="text" value="{{country}}"  formControlName="countrye" name="Countrym" [(ngModel)]="country" placeholder="Country Code" required></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.countrye.hasError('required') &&  formgroup.controls.countrye.touched">
          <p >Enter Country Code.</p>
            </ion-item>
        
      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label><ion-icon name="pin"></ion-icon></ion-label>
          <ion-input type="text" value="{{city}}" formControlName="citye"  name="city" [(ngModel)]="city" placeholder="City" required></ion-input>
        </ion-item>
        <!-- <ion-item *ngIf="formgroup.controls.citye.hasError('required') &&  formgroup.controls.citye.touched">
          <p >Enter City</p>
            </ion-item> -->
        
      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label> <ion-icon name="pin"></ion-icon></ion-label>
          <ion-input type="tel" maxlength="6" value="{{zipCode}}" formControlName="zipCodee"  name="zip" [(ngModel)]="zipCode" placeholder="Zip Code" required></ion-input>
        </ion-item>
        <!-- <ion-item *ngIf="formgroup.controls.zipCodee.hasError('required') &&  formgroup.controls.zipCodee.touched">
          <p >Enter Neteller Email Or Account ID </p>
            </ion-item> -->
        
      </ion-col>
      </ion-list>
      </ion-row> 
            </ion-grid>
      
        </ion-card>
      
          <ion-card>
          <ion-card-header  class="center">
            <h4 class="h4">Payment Detail</h4>
            </ion-card-header>
     
           <ion-grid>
          <ion-row class="center" class="width">
        <ion-list class="center">
      <ion-col col-12>
        <ion-item>
          <ion-label><ion-icon ios="ios-mail-outline" md="md-mail"></ion-icon></ion-label>
          <ion-input type="email" value="{{email}}"  formControlName="emaile" name="email" [readonly]="isReadonly()" [(ngModel)]="email" placeholder="Copyemail@gmail.com" required></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.emaile.hasError('required') &&  formgroup.controls.emaile.touched">
          <p >Enter Your Email Id.</p>
            </ion-item>
        
      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label> <ion-icon name="cash"></ion-icon></ion-label>
          <ion-input type="number" name="amount" formControlName="amounte" [(ngModel)]="amount" placeholder="Amount" required></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.amounte.hasError('required') &&  formgroup.controls.amounte.touched">
          <p >Enter Your Amount.</p>
            </ion-item>
        
      </ion-col>
       <ion-col col-12>
       <ion-list>
        <ion-item>
          <ion-label><ion-icon name="logo-usd"></ion-icon></ion-label>
          <ion-select   placeholder="Select Currency" formControlName="scurrencye" name="scurrency" [(ngModel)]="scurrency" required>
            <ion-option value="USA">USA</ion-option> 
          </ion-select>
        </ion-item>
        <ion-item class="error"  *ngIf="formgroup.controls.scurrencye.hasError('required') &&  formgroup.controls.scurrencye.touched">
          <p >Select Currency.</p>
            </ion-item>
        
      </ion-list>
      </ion-col>
      <!-- <ion-col col-12>
        <ion-item>
          <ion-label><ion-icon ios="ios-list-box" md="md-list-box"></ion-icon></ion-label>
          <ion-input type="text" value="" placeholder="NETELLER Secure ID or Authentication Code"></ion-input>
        </ion-item>
      </ion-col> -->
        <ion-row class="center gc_mybtn">
          <ion-col col-12>
        <button ion-button color="Default" round class="my-btn" type="submit"  [disabled]="!loginForm.form.valid">Pay Now</button>
      </ion-col>
      </ion-row>
      </ion-list>
      </ion-row> 
            </ion-grid>
       
        </ion-card>
      </form>
      </div>
      
</ion-content>
