
<ion-header>
  <ion-navbar class="bkcolor" >
    <ion-grid class="bkcolor">
      <ion-row>
        <ion-col col-1 class="col-1">
         
              <ion-buttons >
                  <button ion-button class="button-inner" (click)="homefun()">
                    <ion-icon name="ios-arrow-round-back-outline" class="backicon"></ion-icon>
                  </button>
                </ion-buttons>
              
        </ion-col>

 
        
        <ion-col col-10>
          <div class="center">
          <!-- <div class="div-1"> -->
            <img src="assets/imgs/newlogo2.png" class="imglogo"/>
          <!-- </div> -->
          </div>
        </ion-col>
      
      </ion-row>
    </ion-grid>
    
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="div1">
    <ion-card>
      <ion-card-header  class="center">
        <h4 class="h4">Supporting Document <br>
          And Information</h4>
        </ion-card-header>
        <form>
       <ion-grid>
      <ion-row class="center" class="width">
    <ion-list class="center">
        <ion-col col-12>
            <h6 class="proof">Proof Of Identity</h6>
            <!-- <button ion-button (click)="chooseFile()"> Choose File</button> -->

            <ion-item>
              <ion-label><ion-icon name="list-box"></ion-icon></ion-label>
              <ion-input type="text" value="{{FileUrl}}" placeholder="Proof Of Identity" [readonly]="isReadonly()"></ion-input>
            </ion-item>

            <button ion-button (click)="chooseFile()"> Upload Identity file</button>

          </ion-col>

          <ion-col col-12>
            <h6 class="proof">Proof Of Address</h6>
            <ion-item>
              <ion-label><ion-icon name="list-box"></ion-icon></ion-label>
              <ion-input type="text" value="{{Filaddress}}" placeholder="Proof Of Address"  [readonly]="isReadonly()"></ion-input>
            </ion-item>
            <button ion-button (click)="finalFileUploadfun()">Upload Address file</button>

          </ion-col>
          
            <ion-row class="center gc_mybtn">
              <ion-col col-12>
            <!-- <button ion-button color="Default" round class="my-btn">Update</button> -->
          </ion-col>
          </ion-row>
          </ion-list>
          </ion-row> 
                </ion-grid>
              </form>
            </ion-card>
          </div>
</ion-content>
