
<ion-header>
  <ion-navbar class="bkcolor" >
    <ion-grid class="bkcolor">
      <ion-row>
        <ion-col col-1 class="col-1">
          <ion-buttons (click)="loginfun()">
              <button ion-button class="button-inner">
                  <ion-icon name="ios-arrow-round-back-outline" class="backicon" ></ion-icon>
                  </button>
                </ion-buttons>
           </ion-col>
         <ion-col col-10>
          <div class="center">
          <!-- <div class="div-1"> -->
            <img src="assets/imgs/newlogo2.png" class="imglogo"/>
          <!-- </div> -->
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content padding>

<div class="main-box">
    <ion-grid class="bg">
        <ion-row class="center">
          <!-- <ion-col col-12>
            <div class="img">
            <img src="assets/imgs/logo2.png">
             </div>
          </ion-col> -->
        </ion-row>
     <ion-card>
        <ion-row class="center" class="width">
          <ion-list class="space-remove">
     <!-- <ion-col col-12> -->
       <ion-card-header class="space-remove">
       <div class="title-f">
         <h4>Forget Password</h4>
       </div>
      </ion-card-header>
       <!-- <ion-item> -->
         <!-- <ion-label><ion-icon name="person"></ion-icon></ion-label>
         <ion-input type="text" value="" placeholder="Username"></ion-input> -->
       <!-- </ion-item> -->
     <!-- </ion-col>  -->
     <form [formGroup]="formgroup" (ngSubmit)="forgetfun(UserEmail,user_type)" #loginForm="ngForm"> 
     <div class="center-contain">
       <ion-col col-12>
       <ion-item>
         <ion-label><ion-icon name="mail"></ion-icon></ion-label>
         <ion-input type="email" placeholder="Enter Email Id" formControlName="email" [(ngModel)]="UserEmail"></ion-input>
       </ion-item>
       <ion-item class="error" *ngIf="formgroup.controls.email.hasError('required') &&  formgroup.controls.email.touched">
        <p style="color:red">Enter Your Email Id </p>
          </ion-item>
     </ion-col>
     <ion-col col-12>
       <ion-item>
          <ion-label><ion-icon name="person"></ion-icon></ion-label>
          <ion-select  placeholder="Select Type" formControlName="type" title="Select Type" name="usertype" [(ngModel)]="user_type" required >
          <ion-option value="user">Client</ion-option>
          <ion-option value="agent">Partner</ion-option>
          <ion-option value="affiliate">Affiliate</ion-option>
     
        </ion-select>
       </ion-item>
       <ion-item class="error" *ngIf="formgroup.controls.type.hasError('required') &&  formgroup.controls.type.touched">
        <p style="color:red">Enter Your Email-Id </p>
          </ion-item>
     </ion-col>
     <ion-col col-12 class="btnall">
       <button ion-button color="Default" round class="my-btn"  type="submit"  [disabled]="!loginForm.form.valid">Send</button>
     </ion-col>
    </div>
    </form>
     <!-- <ion-col col-12>
       <div class="forget-p">
       <p >Back To Login</p>
     </div>
     </ion-col> -->
     </ion-list>
      </ion-row>
      </ion-card>
      </ion-grid>
    </div>
</ion-content>
