page-forgetpassword {
    .bkcolor{
        background: #264070;

  }
  .backicon{
    // width: 100%;
    // height: 50%;
    font-size: 59px;
    color: white;
    margin-left: 10px;
    float:left;
   
}
.main-box {
    margin-top: 15px;
    padding-left: 9px;
    padding-right: 9px;
}

.toolbar-ios {
    padding: 0px;
    min-height: 56px;
    height: 63px;
}
.toolbar-md {
    padding: 0px;
    min-height: 56px;
    height: 63px;
}
img.imglogo {
    margin-top: 2px;
}
// .col-1{
//     padding: 5%;
// }
.div-1{
    padding-left:28% ;
     width:130% ;
      height:80%;

}
ion-select .select-text{margin-left: 11px;}
.center{
  text-align:center !important;
  align-self:center !important;
}
.button-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
   height: 0%;
}
.space-remove{
    padding: 0px !important;
    margin-bottom: 0px;
 }
 .center-contain {
    padding: 0px 10px 10px 10px;
}

.title-f {
    text-align: center;
    background-color: #264070;
    color: #fff;
    padding: 1px 0px;
}
.title-f h4 {
   color: #fff !important;
    margin-bottom: 11px;
    font-size: 2.4rem;
    font-weight: normal;
    margin-top: 10px !important;
}
.list-md .item-input:last-child {
    border-bottom: 1px solid #999;
}
.center{
align-self:center;
width: 100%;
text-align: center;
}

 .bg{
background-color: #fff;
height: 100%;
}
input.text-input.text-input-md {
letter-spacing:0px !important;
}
ion-icon {
display: inline-block;
font-size: 1.5em;
float: left;
color: #029ff4;
padding-left: 12px;

}
.item-md,.item-ios {
padding-left: 16px;
padding-right: 0;
position: relative;
font-size: 1.6rem;
font-weight: normal;
text-transform: none;
color: #000;
background-color: #fff;
-webkit-box-shadow: none;
box-shadow: none;
-webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
border-radius: 36px !important;
text-align:center;
width: 100%;
border: 1px solid #999;
}
button.my-btn.disable-hover.button.button-md.button-default.button-default-md.button-round.button-round-md.button-md-Default {
width: 100%;
padding: 24px;
float:left;
letter-spacing: 0px;
text-transform: capitalize;
}
.forget-p{
float: right
}
.forget-p p{
float: right;
color: #000;
letter-spacing:0px;
width: 100%;

}

ion-list {
margin: 0;
padding: 0;
display: block;
list-style-type: none;
width: 100%;
padding-left: 30px;
padding-right: 30px;
}
.item-ios {

padding-left: 0px;
border-radius: 0;
position: relative;
font-size: 1.7rem;
color: #000;
background-color: #fff;
-webkit-transition: background-color 200ms linear;
transition: background-color 200ms linear;
border-radius: 51px;
border: 1px solid #e7e7e7;

}
.button-ios {
border-radius: 4px;
height: 2.8em;
font-size: 1.6rem;
color: #fff;
background-color: #488aff;
margin: 0.4rem 0.2rem;
padding: 0 1em;
width: 100%;
border-radius: 31px;
float: left!important;
letter-spacing: 2px;
text-align: center;
}
.img {
max-width: 100%;
}
.img img {
max-width: 100%;
}

input.text-input.text-input-md {
letter-spacing: 3px;
}
.scroll-content {
padding: 0px !important;
}
ion-icon {
display: inline-block;
font-size: 1.2em;
color: #427feb;
float:left;
}

.list-ios {

width: 100%;
}

.select-md .select-placeholder {
color: #999;
max-width: 100%;
float: left !important;
text-align: left;

}
.select-ios .select-placeholder {
color: #999;
max-width: 100%;
float: left !important;
text-align: left;
}
ion-select {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
overflow: hidden;
width: 100%!important;
}
ion-select {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
overflow: hidden;
max-width:85%!important;
text-align: center;
}
.select-ios {
padding: 0px 8px 0px 0px;
float: left !important;
}
.select-text {
overflow: hidden;
-webkit-box-flex: 1;
-webkit-flex: 1;
-ms-flex: 1;
flex: 1;
min-width: 16px;
font-size: inherit;
/* text-overflow: ellipsis; */
white-space: nowrap;
text-align: left;
}
.label-ios {
margin: 0px 0px 0px 0;
}
.select-md {
padding: 0px 10px 0px 0px;
}
ion-label {
    -webkit-box-flex: initial;
    -webkit-flex: initial;
    -ms-flex: initial;
    flex: initial;
    max-width: 200px;
    pointer-events: none;
    
}
.ion-icon{width: 42px;height: 42px;}
.btnall button{margin: 0;}
@media only screen and (min-width:768px) and (max-width:1024px){
.img {
padding-top: 16%;
}
ion-icon {
display: inline-block;
font-size: 2.5em;
float: left;
color: #029ff4;
padding-left: 12px;
}
.button-ios {
border-radius: 4px;
height: 2.8em;
font-size: 2.3rem;
color: #fff;
background-color: #488aff;
margin: 0.4rem 0.2rem;
padding: 0 1em;
width: 100%;
border-radius: 31px;
float: left !important;
letter-spacing: 2px;
text-align: center;
}
.forget-p {
float: right;
font-size: 21px;
}
ion-select {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
overflow: hidden;
width: 92%!important;
}
ion-select {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
overflow: hidden;
max-width: 94%!important;
text-align: center;
}
ion-label#lbl-1 {
padding-right: 49px !important;
}
.title-f {
    text-align: center;
    background-color: #264070;
    color: #fff;
    padding: 6px 0px;
}
}
@media only screen and (min-width:870px) and (max-width:1030px){
ion-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
   width: 92%!important;
    }
    ion-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    max-width: 94%!important;
    text-align: center;
}
}
@media only screen and (min-width:768px){
.select-ios {
padding: 0px 10px 0px 5px;
}
}
}
@media only screen and (min-width:1024px){
.select-md,.select-ios {
    padding: 0px 10px 0px 0px;
    margin-right: 20px !important;
}
}
