<ion-header>
    <ion-navbar class="bkcolor" >
      <ion-grid class="bkcolor">
        <ion-row>
          <ion-col col-1 class="col-1">
           
                <ion-buttons >
                    <button ion-button class="button-inner" (click)="homefun1()">
                      <ion-icon name="ios-arrow-round-back-outline" class="backicon"></ion-icon>
                    </button>
                  </ion-buttons>
                
          </ion-col>
  
   
         
          <ion-col col-10>
            <div class="center">
            <!-- <div class="div-1"> -->
              <img src="assets/imgs/newlogo2.png" class="imglogo"/>
            <!-- </div> -->
            </div>
          </ion-col>
        
        </ion-row>
      </ion-grid>
      
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <div class="div1-call">
  
    <ion-card>
      <ion-card-header >
        <h4 class="h4">Call Back</h4>
      </ion-card-header>
        <form  [formGroup]="formgroup"  (ngSubmit)="callbackfun(phonenumber,timeslot)" #callbackForm="ngForm" >
       <ion-grid>
      <ion-row class="center" class="width">
    <ion-list class="center">
  <ion-row>
  <ion-col col-12>
    <!-- <ion-item>
      <ion-label> <ion-icon name="call"></ion-icon></ion-label>
      <ion-input type="number" placeholder="Enter Phone Number" (ionChange)="NumberChange(phonenumber)" (ionBlur)="mainfun(phonenumber)" name="phonenumber" maxlength="15"  formControlName="phonenumber"  [(ngModel)]="phonenumber" required></ion-input>
    </ion-item> -->
    <!-- <ion-item class="error " *ngIf="flat">
        Please Enter Number
      </ion-item> -->
    <!-- <ion-item class="error" *ngIf="formgroup.controls.phonenumber.hasError('required') &&   formgroup.controls.phonenumber.touched">
      <p >Enter Your Mobile Number</p>
        </ion-item> -->
        <ion-item>
            <ion-label> <ion-icon name="call"></ion-icon></ion-label>
            <ion-input type="number" placeholder="Enter Phone Number" name="phonenumber"  formControlName="phonenumber"  [(ngModel)]="phonenumber" required></ion-input>
          </ion-item>
        <ion-item class="error" *ngIf="formgroup.controls.phonenumber.hasError('required')  &&  formgroup.controls.phonenumber.touched">
          <p > Please Enter Exactly 10 Digits Number </p>
            </ion-item>
          <!-- <ion-item class="error" *ngIf=" formgroup.controls['phonenumber'].hasError('required') && formgroup.controls['phonenumber'].hasError('maxLength') && formgroup.controls['phonenumber'].touched">
            Please enter valid mobile number
          </ion-item> -->
  </ion-col>

  <ion-col col-12>
    <ion-list>
    <ion-item>
        <ion-label> <ion-icon ios="ios-time" md="md-time"></ion-icon></ion-label>
        
      <ion-select  placeholder="Select Time"  formControlName="timeslot" title="selelct" style="color:black"  [(ngModel)]="timeslot" name="timeslot" required>
        <ion-option value="12:00 am">12:00 am</ion-option>
        <ion-option value="01:00 am">01:00 am</ion-option>
        <ion-option value="02:00 am">02:00 am</ion-option>
        <ion-option value="03:00 am">03:00 am</ion-option>
        <ion-option value="04:00 am">04:00 am</ion-option>
        <ion-option value="05:00 am">05:00 am</ion-option>
        <ion-option value="06:00 am">06:00 am</ion-option>
        <ion-option value="07:00 am">07:00 am</ion-option>
        <ion-option value="08:00 am">08:00 am</ion-option>
        <ion-option value="09:00 am">09:00 am</ion-option>
        <ion-option value="10:00 am">10:00 am</ion-option>
        <ion-option value="11:00 am">11:00 am</ion-option>
        <ion-option value="12:00 pm">12:00 pm</ion-option>
        <ion-option value="01:00 pm">01:00 pm</ion-option>
        <ion-option value="02:00 pm">02:00 pm</ion-option>
        <ion-option value="03:00 pm">03:00 pm</ion-option>
        <ion-option value="04:00 pm">04:00 pm</ion-option>
        <ion-option value="05:00 pm">05:00 pm</ion-option>
        <ion-option value="06:00 pm">06:00 pm</ion-option>
        <ion-option value="07:00 pm">07:00 pm</ion-option>
        <ion-option value="08:00 pm">08:00 pm</ion-option>
        <ion-option value="09:00 pm">09:00 pm</ion-option>
        <ion-option value="10:00 pm">10:00 pm</ion-option>
        <ion-option value="11:00 pm">11:00 pm</ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="error" *ngIf="formgroup.controls.timeslot.hasError('required') &&  formgroup.controls.timeslot.touched">
      <p >Selelct Your Time</p>
        </ion-item>
  </ion-list>
  </ion-col>
</ion-row>
    <ion-row class="center gc_mybtn">
      <ion-col col-12>
    <button ion-button color="Default" round class="my-btn" type="submit" [disabled]="!callbackForm.form.valid">Submit</button>
  </ion-col>
  </ion-row>
  </ion-list>
  </ion-row>
  </ion-grid>
  </form>
  </ion-card>

  </div>
</ion-content>
